<div class="invoice-box">
	<table cellpadding="0" cellspacing="0">
		<tr class="top">
			<td colspan="4">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td style="width: 150px;">
										<img src="assets/img/logo/ooget.png" style="width:100%; max-width:150px;">
									</td>
									<td style="text-align: left; line-height: 16px; font-size: 9px; vertical-align: bottom;">
										OOGET PTE LTD<br>
										11 SIMS DRIVE #02-01 SCN CENTRE, SINGAPORE 387385<br>
										TEL: (65) 6248 3513, FAX: (65) 6214 0809<br>
										CO REG NO.: 201721377K, CO EA LICENSE NO.:18C9125
									</td>
								</tr>
							</table>
						</td>

						<td>
							<b>Tax Invoice</b>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="information">
			<td colspan="4">
				<table>
					<tr>
						<td>To:<br>
							Allport Cargo Services Logistics Pte Limited<br>
							11 Sims Drive, SCN Centre<br>
							#02-01<br>
							Singapore 387385<br>
							Attention: Bevin Yap
						</td>

						<td contenteditable="true">
							Invoice No: SGOD 000016<br>
							Customer Code: ALCA01<br>
							Date: 22-01-2019
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="heading">
			<td> Charge </td>

			<td> Rate </td>

			<td> Hours </td>

			<td> Amount </td>
		</tr>

		<tr class="item">
			<td>
				Labour Charge<br />
				(01-01-2019 to 15-01-2019 - Normal)
			</td>

			<td>
				10.50
			</td>

			<td>
				52.00
			</td>

			<td>
				546.00
			</td>
		</tr>

		<tr class="item">
			<td>
				Labour Charge<br />
				(01-01-2019 to 15-01-2019 - OT 1.5)
			</td>

			<td>
				10.50
			</td>

			<td>
				52.00
			</td>

			<td>
				546.00
			</td>
		</tr>

		<tr class="item last">
			<td>
				Labour Charge<br />
				(01-01-2019 to 15-01-2019 - OT 2.0)
			</td>

			<td>
				10.50
			</td>

			<td>
				52.00
			</td>

			<td>
				546.00
			</td>
		</tr>

		<tr class="total">
			<td></td>
			<td colspan="3">
				Total: $385.00
			</td>
		</tr>
	</table>
</div>
