<div class="app indigo-light fixed-header">

	<!-- Custom Lazy Load Routeing -->
	<div [hidden]="!isShowingRouteLoadIndicator">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>

		<div class="router-load-indicator"> Loading Please Wait.. </div>
	</div>

	<!-- <div *ngIf="isShowingRouteLoadIndicator" class="router-load-indicator">
		Loading Please Wait..
	</div> -->

	<div *ngIf="connectionStatus === 'online'" class="online">
		<span>{{connectionStatusMessage}}</span>
	</div>

	<div *ngIf="connectionStatus === 'offline'" class="offline">
		<span>{{connectionStatusMessage}}</span>
	</div>

	<router-outlet></router-outlet>
</div>
