<div class="mat-menu-panel toolbar-dropdown-menu applications mat-elevation-z2">
  	<div class="mat-menu-content" style="opacity: 1;">
      	<span>
          	<mat-toolbar color="primary">
              	<div class="header" fxLayout="row" fxLayoutAlign="space-around center">
                	Applications 
              	</div>  
			</mat-toolbar>
			  
          	<mat-card>           
  				<mat-grid-list cols="3" rowheight="1:1">
    				<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
                      			<mat-icon class="muted-text mat-icon material-icons">person</mat-icon>
                      			<span>My account</span>
      						</button>
    					</figure>
    				</mat-grid-tile>
    
    				<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
                      			<mat-icon class="muted-text mat-icon material-icons">search</mat-icon>
                      			<span>Search</span>							
      						</button>
    					</figure>
    				</mat-grid-tile>

   					<mat-grid-tile>
   						<figure class="mat-figure">
   							<button mat-button>
   					            <mat-icon class="muted-text mat-icon material-icons">play_arrow</mat-icon>
   					            <span>Player</span>							
   					  		</button>
   						</figure>
   					</mat-grid-tile>

                  	<mat-grid-tile>
   						<figure class="mat-figure">
   							<button mat-button>
   						        <mat-icon class="muted-text mat-icon material-icons">settings</mat-icon>
   						        <span>Settings</span>							
   						  	</button>
   						</figure>
   					</mat-grid-tile>
    
                  	<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
    					        <mat-icon class="muted-text mat-icon material-icons">event</mat-icon>
    					        <span>Calendar</span>							
    					  	</button>
    					</figure>
    				</mat-grid-tile>
    
    				<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
    				        	<mat-icon class="muted-text mat-icon material-icons">image</mat-icon>
    				            <span>Gallery</span>							
    				  		</button>
    					</figure>
    				</mat-grid-tile>

    				<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
                      			<mat-icon class="muted-text mat-icon material-icons">library_books</mat-icon>
                      			<span>Documents</span>							
      						</button>
    					</figure>
    				</mat-grid-tile>
    
    				<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
    				            <mat-icon class="muted-text mat-icon material-icons">mail</mat-icon>
    				            <span>Mail</span>							
    				  		</button>
    					</figure>
    				</mat-grid-tile>
    
                  	<mat-grid-tile>
    					<figure class="mat-figure">
    						<button mat-button>
    					        <mat-icon class="muted-text mat-icon material-icons">place</mat-icon>
    					        <span>Maps</span>							
    					  	</button>
    					</figure>
    				</mat-grid-tile>							
              </mat-grid-list>
          	</mat-card>
      	</span>
	  </div>
</div>