<div class="inner-sidenav-content transition-2" perfectScrollbar>
  <!-- Breadcrumb Start -->
  <div fxLayout="row wrap">
    <div class="flex-p" fxFlex="1 1 100%">
      <mat-card class="mat-breadcrumb" fxLayout="row">
        <a class="breadcrumb-item" routerLink="/employer/dashboard" fxLayout="row" fxLayoutAlign="flex-start center">
          <mat-icon>home</mat-icon>
          <span class="breadcrumb-title">Home</span>
        </a>

        <div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
          <span class="breadcrumb-title active">Company Details</span>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
	<h1 style="color: #bbbbbb">
		Working here
	</h1>
  </div>
</div>

