.full-width-table {
    width: 100%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    text-align: center;
    padding: 0 10px;
}

th.mat-header-cell {
    color: #ffffff !important;
    background: #1c3e8e;
    font-weight: 600; // padding: 0 5px;
}

td.mat-footer-cell {
    background-color: aliceblue
}

tr td:not(:last-child).mat-cell,
tr td:not(:last-child).mat-footer-cell,
tr th:not(:last-child).mat-header-cell {
    border-right: 1px solid #ccc;
}

th,
td {
    white-space: nowrap;
}

tr.mat-header-row,
tr.mat-footer-row,
tr.mat-row {
    height: 36px;
}
