<div class="inner-sidenav-content transition-2">
	<!-- Http Progress Bar -->
	<ng-progress></ng-progress>

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">Pending Jobseekers List</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<app-jobseekers-grid-view [setJobSeekers]="jobseekers_list"
		(emitToggleJobseekerStatus)="toggleJobseekerStatus($event)">
	</app-jobseekers-grid-view>
</div>
