<div [ngBusy]="{busy:busy}"></div>
<div class="inner-sidenav-content transition-2">

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/main/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/main/jobs/list" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">Details</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div *ngIf="busy.closed" fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign="space-between center">

				<div *ngIf="isUnderContract" fxLayout="row" fxLayoutAlign="start center">
					<div>{{helpTxt1}}</div>
				</div>

				<div *ngIf="isOfferRejected" fxLayout="row" fxLayoutAlign="start center">
					<div>{{helpTxt1}}</div>
				</div>

				<div *ngIf="isOffered" fxLayout="row" fxLayoutAlign="start center">
					<button mat-raised-button color="primary"
						(click)="acceptOffer(jobDetails.jobseeker_applied_details.contract_id)">{{btnName}}</button>
					&nbsp;
					<!-- <div>({{helpTxt1}})</div> -->
					<button mat-raised-button color="warn"
						(click)="rejectOffer(jobDetails.jobseeker_applied_details.contract_id)">{{rejectBtnName}}</button>
					&nbsp;
				</div>

				<div *ngIf="isApplied" fxLayout="row" fxLayoutAlign="start center">
					<div *ngIf="isApplied">&nbsp;&nbsp;&nbsp;{{helpTxt1}}</div>
				</div>

				<div *ngIf="isNotApplied" fxLayout="row" fxLayoutAlign="start center">
					<button mat-raised-button color="primary"
						(click)="sendApplication(jobDetails.id)">{{btnName}}</button>
				</div>

				<div fxLayout="row" fxLayoutAlign="start center">
					<button mat-raised-button color="primary" *ngIf="!jobDetails.jobseeker_saved_data"
						(click)="saveJob(jobDetails.id)">Save Job</button>

					<button mat-raised-button color="primary" *ngIf="jobDetails.jobseeker_saved_data"
						(click)="unSaveJob(jobDetails.id)">Un Save Job</button>
				</div>
			</mat-card>
		</div>
	</div>

	<div fxLayout="row wrap">
		<mat-card class="flex-p section_container" style="margin-top: 8px;" fxFlex="100" fxLayout="column">
			<!-- <mat-card-header>
                            <img *ngIf="!jobDetails?.companylogo" mat-card-avatar src="assets/img/avatars/logo-placeholder.png" alt="">
                            <img *ngIf="jobDetails?.companylogo" mat-card-avatar src="{{baseUrl}}/company/{{jobDetails?.companylogo}}" alt="">
                            <mat-card-title>{{jobDetails.jobnumber}}</mat-card-title>
                            <mat-card-subtitle style="text-transform: capitalize;">Job Status: {{jobDetails.jobstatus}}</mat-card-subtitle>
                            <div fxFlex></div>
                        </mat-card-header> -->
			<mat-card-content ngClass.xs="small">
				<!-- Company Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start">
								<span class="key">Company Name <span fxHide.xs>:</span></span>
								<span class="value"> {{jobDetails.employer_name | titlecase}} </span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start">
								<span class="key">Company Profile <span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.company_profile | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Industry Type
									<span fxHide.xs>:</span></span>
								<span class="value">{{getIndustryName(jobDetails.industry) | titlecase}}</span>
							</span>
						</p>
					</div>
				</div>
				<mat-divider></mat-divider>
				<!-- Job Basic Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job Number
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.job_no | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Project Name
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.project_name | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job Title <span
										fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.job_name | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Employment Type
									<span fxHide.xs>:</span></span>
								<span class="value">{{employmentType[jobDetails.employment_type] | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Department
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.department | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Description
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.description | titlecase}}</span>
							</span>
						</p>
					</div>
				</div>
				<mat-divider></mat-divider>
				<!-- Job Specialization Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center"
							*ngIf="jobDetails.specializations !== 'Others'">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job
									Specialization
									<span fxHide.xs>:</span></span>
								<span class="value">{{getJobSpecializationName(jobDetails.specializations) | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.specializations == 'Others'">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job
									Specialization
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.otherjobspecialization | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.working_environment">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Working
									Environment
									<span fxHide.xs>:</span></span>
								<span class="value">{{getWorkingEnvironmentName(jobDetails.working_environment)}}</span>
							</span>
						</p>
					</div>
				</div>
				<mat-divider></mat-divider>
				<!-- Work Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Pax Required
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.pax_total - jobDetails.required}} /
									{{jobDetails.pax_total}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job period
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.from | date:'dd-MM-yyyy'}} to {{jobDetails.to
									| date:'dd-MM-yyyy'}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Grace Period
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.grace_period}} Mins</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Time <span
										fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.start_time}} to {{jobDetails.end_time}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Days Type
									<span fxHide.xs>:</span></span>
								<span class="value">{{workDaysType[jobDetails.work_days_type]}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.workdays">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Days are
									<span fxHide.xs>:</span></span>
								<span fxLayout.xs="row wrap">
									<span class="value" *ngIf="jobDetails.workdays?.sunday"> {{jobDetails.workdays?.sunday
										? 'Sunday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.monday"> {{jobDetails.workdays?.monday
										? 'Monday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.tuesday"> {{jobDetails.workdays?.tuesday
										? 'Tuesday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.wednesday"> {{jobDetails.workdays?.wednesday
										? 'Wednesday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.thursday"> {{jobDetails.workdays?.thursday
										? 'Thursday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.friday"> {{jobDetails.workdays?.friday
										? 'Friday,' : ''}} </span>
									<span class="value" *ngIf="jobDetails.workdays?.saturday"> {{jobDetails.workdays?.saturday
										? 'Saturday' : ''}} </span>
								</span>
							</span>
						</p>
						<!-- Break Details -->
						<div *ngIf="jobDetails.breaklist?.length > 0">
							<p><b>Breaks : </b></p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngFor="let break of jobDetails.breaklist">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span
										class="key">{{break.break_name | titlecase}}
										<span fxHide.xs>:</span></span>
									<span class="value">{{break.from}} to {{break.to}}</span>
								</span>
							</p>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider>
				<!-- Address Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Postal Code
									<span fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.postal_code}}</span>
							</span>
						</p>
						<!-- <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
                                        <span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Block <span
                                                    fxHide.xs>:</span></span>
                                            <span class="value">{{jobDetails.addressblock}}</span>
                                        </span></p> -->
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Street <span
										fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.address | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Unit <span
										fxHide.xs>:</span></span>
								<span class="value">{{jobDetails.unit_no | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Region <span
										fxHide.xs>:</span></span>
								<span class="value">{{getRegionName(jobDetails.region) | titlecase}}</span>
							</span>
						</p>
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Location <span
										fxHide.xs>:</span></span>
								<span class="value">{{getJobLocationName(jobDetails.location) | titlecase}}</span>
							</span>
						</p>
					</div>
				</div>
				<mat-divider></mat-divider>
				<!-- Salary Details -->
				<div>
					<div class="user-details transition-2" fxFlex="100" fxLayout="column">
						<p fxLayout="row" fxLayoutAlign="start center">
							<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
							<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Salary <span
										fxHide.xs>:</span></span>
								<span class="value">&#x24;&nbsp;{{jobDetails.jobseeker_salary}}</span>
							</span>
						</p>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
