<div [ngBusy]="[busyA, busy]"> </div>
<div class="inner-sidenav-content transition-2">

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="100">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/main/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>
				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">My Job Contracts</span>
				</div>
			</mat-card>
		</div>
	</div>

	<div fxLayout="row wrap" *ngIf="busyA.closed">
		<!-- If No Job Contracts Exists -->
		<div *ngIf="!isContractJobsAvailable" fxFlex fxLayout="row" fxLayoutAlign="center center"
			style="height:100px; border: 2px solid #eee; margin:8px;">
			<p>Currently You Have No Job Contracts</p>
		</div>

		<!-- If Contracts Jobs Available -->
		<div fxFlexOrder.xs="2" *ngIf="isContractJobsAvailable" fxFlex.lt-md="100" fxFlex.gt-sm="25"
			class="flex-p section_container" fxLayout="row wrap" fxLayoutAlign="center start">
			<!-- If Active Job Contacts Available -->
			<mat-card *ngIf="isActiveContractsAvailable" fxLayout="row wrap" fxLayoutAlign="center start"
				style="padding:12px;">
				<div class="m-b-10" fxFlex="100" fxLayoutAlign="center start">
					<h4 class="underline">My Active Job Contracts</h4>
				</div>
				<!-- List of Active Contracts -->
				<mat-button-toggle-group vertical #toggleGroup1="matButtonToggleGroup" style="border:none!important;"
					(click)="doReset2()">
					<mat-button-toggle
						*ngFor="let activeContract of activeContracts | slice:0:NoOfActiveContractsToShow; let i=index;"
						[value]="activeContract.id"
						(click)="getContractTodayTimesheet(activeContract.id); getContractJobDetails(activeContract.job_id);"
						style="text-transform: capitalize;">{{activeContract.job_name | titlecase}}
						({{activeContract.company_name | titlecase}})</mat-button-toggle>
				</mat-button-toggle-group>
				<!-- Show more Job Contracts, if available -->
				<div class="m-b-10" fxFlex="100" fxLayoutAlign="end center" style="margin-top: 10px;">
					<a *ngIf="activeContracts.length > NoOfActiveContractsToShow"
						(click)="NoOfActiveContractsToShow = activeContracts.length"
						style="color: blue; font-style: italic; font-size: 12px; cursor: pointer;">Show
						More</a>
					<a *ngIf="activeContracts.length == NoOfActiveContractsToShow"
						(click)="NoOfActiveContractsToShow = defaultNoOfContractsToShow"
						style="color: blue; font-style: italic; font-size: 12px; cursor: pointer;">Show
						Less</a>
				</div>
			</mat-card>

			<!-- If Completed Job Contacts Available -->
			<mat-card *ngIf="isCompletedContractsAvailable"
				[ngStyle]="{'margin-top':isActiveContractsAvailable ? '30px' : '' }" style="padding: 12px;"
				[ngStyle.xs]="{'margin-top':'15px'}" fxLayout="row wrap" fxLayoutAlign="center start">
				<div class="m-b-10" fxFlex="100" fxLayoutAlign="center start">
					<h4 class="underline">My Completed Job Contracts</h4>
				</div>
				<!-- List of Active Contracts -->
				<mat-button-toggle-group vertical #toggleGroup2="matButtonToggleGroup" (click)="doReset1()"
					style="border:none!important;">
					<mat-button-toggle
						*ngFor="let completedContract of completedContracts | slice:0:NoOfCompletedContractsToShow; let i=index;"
						[value]="completedContract.id"
						(click)="getContractTodayTimesheet(completedContract.id); getContractJobDetails(completedContract.job_id);"
						style="text-transform: capitalize;">{{completedContract.job_name | titlecase}}
						({{completedContract.company_name | titlecase}})</mat-button-toggle>
				</mat-button-toggle-group>

				<!-- Show more Job Contracts, if available -->
				<div class="m-b-10" fxFlex="100" fxLayoutAlign="end center" style="margin-top: 10px;">
					<a *ngIf="completedContracts.length > NoOfCompletedContractsToShow"
						(click)="NoOfCompletedContractsToShow = completedContracts.length"
						style="color: blue; font-style: italic; font-size: 12px; cursor: pointer;">Show
						More</a>
					<a *ngIf="completedContracts.length == NoOfCompletedContractsToShow"
						(click)="NoOfCompletedContractsToShow = defaultNoOfContractsToShow"
						style="color: blue; font-style: italic; font-size: 12px; cursor: pointer;">Show
						Less</a>
				</div>
			</mat-card>
		</div>

		<!-- Contract Job Details & Timesheet Layout-->
		<div fxFlexOrder.xs="1" *ngIf="isContractDetails" class="flex-p" fxFlex.lt-md="100" fxFlex.gt-sm="75"
			fxLayout="row wrap">
			<!-- TimeSheet Layout -->
			<mat-card class="flex-p" fxFlex="100" fxLayout="column">
				<!-- If Contract Status Open -->
				<div *ngIf="contractStatus == 'open'" class="flex-p" fxLayout="row wrap"
					fxLayoutAlign="space-around center">
					<!-- Show Contract Job Working Time. Like, Shift From 28/05/2019 19:18 To 28/05/2019 23:30 -->
					<div style="font-weight: 700; text-align: center;" class="flex-p" fxLayout="row"
						fxLayoutAlign="center center">
						Shift From {{ ((currentTimeSheetLayout.date +" "+ jobTimes.start_time) | date:'yyyy/MM/dd
						HH:mm')
						> ((currentTimeSheetLayout.date +" "+ jobTimes.end_time) | date:'yyyy/MM/dd
						HH:mm') ? ((currentTimeSheetLayout.date +" "+ jobTimes.start_time) | date:'dd/MM/yyyy
						HH:mm') + " To " + (convertNextDay((currentTimeSheetLayout.date +" "+ jobTimes.end_time)
						| date:'yyyy/MM/dd HH:mm') | date:'dd/MM/yyyy HH:mm') : ((currentTimeSheetLayout.date +"
						"+ jobTimes.start_time) | date:'dd/MM/yyyy HH:mm') + " To " +
						((currentTimeSheetLayout.date
						+" "+ jobTimes.end_time) | date:'dd/MM/yyyy HH:mm') }}
					</div>

					<!-- Show Radio Button for choosing Late & sick & normal Options -->
					<div class="flex-p" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
						<!-- punchBehaviour Options -->
						<mat-radio-group name="punchBehaviour" [(ngModel)]="punchBehaviour"
							(change)="showContactOogetDialog($event)" required>
							<mat-radio-button value="Normal">Normal</mat-radio-button>
							<!-- Disable Late option if Already PunchIn Or PunchOut Done or already late initimated -->
							<mat-radio-button value="Late"
								[disabled]="ispunchedIn || ispunchedOut || currentTimeSheetLayout.lateintimation">
								Late</mat-radio-button>
							<!-- Disable sick option if Already PunchIn Or PunchOut Done or already late initimated -->
							<mat-radio-button value="Sick"
								[disabled]="ispunchedIn || ispunchedOut || currentTimeSheetLayout.lateintimation">
								Sick</mat-radio-button>
						</mat-radio-group>
						<!-- If Already Initimated Late -->
						<div *ngIf="currentTimeSheetLayout.lateintimation"
							style="color: coral; font-size: smaller; padding-top: 10px;">You
							have Initimated Late.</div>
					</div>

					<!-- If Choose punchBehaviour is Late, then show the late info filling Form -->
					<form *ngIf="punchBehaviour == 'Late'"
						(ngSubmit)="submitLateReason(currentTimeSheetLayout.contracts_id, currentTimeSheetLayout.id, lateReasonForm)"
						#lateReasonForm="ngForm" class="flex-p" fxFlex="100" fxLayout="row wrap"
						fxLayoutAlign="center center" fxLayoutGap="10px">
						<mat-form-field appearance="outline" fxFlex="80" fxFlex.gt-sm="40">
							<mat-label>Late Reason</mat-label>
							<input matInput placeholder="Reason" name="punchLateReason" [(ngModel)]="punchLateReason"
								autocomplete="off" required>
							<mat-icon matSuffix>info_outline</mat-icon>
						</mat-form-field>

						<button mat-raised-button type="submit" [disabled]="!lateReasonForm.form.valid">Send</button>
					</form>

					<!-- If Choose punchBehaviour is Normal then show the puchIn/Out Buttons and Timeings -->
					<div *ngIf="punchBehaviour == 'Normal'" class="flex-p" fxLayout="column" fxFlex
						fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-around start"
						fxLayoutAlign="space-around center" fxLayoutGap.xs="20px">
						<div fxLayout="column" fxLayoutAlign="space-around center">
							<!-- Disabled if already punchedIn -->
							<button mat-raised-button color="primary" [disabled]="ispunchedIn"
								(click)="punchIn(currentTimeSheetLayout.contracts_id, currentTimeSheetLayout.id)">Time
								- In</button>
							<!-- Show PunchIn Time If Already punchedIn -->
							<div *ngIf="ispunchedIn">
								<span *ngIf="inTime">In-Time {{inTime}} </span>
							</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="space-around center">
							<!-- Disabled if already punchedOut -->
							<button mat-raised-button color="accent" [disabled]="ispunchedOut"
								(click)="punchOut(currentTimeSheetLayout.contracts_id, currentTimeSheetLayout.id)">Time
								- Out</button>
							<!-- Show PunchIn Time If Already punchedOut -->
							<div *ngIf="ispunchedOut">
								<span *ngIf="outTime">Out-Time {{outTime | date:'dd/MM/yyyy HH:mm'}} </span>
							</div>
						</div>
					</div>
				</div>

				<!-- If Contract Status Not Started, show message -->
				<div *ngIf="contractStatus == 'notstarted'" class="flex-p" fxLayout="row" fxLayoutAlign="center center">
					<!-- Your Contract Will Start on &nbsp; -->
					<span style="font-weight: 600;"> {{currentTimeSheetLayout}}
					</span>
				</div>

				<!-- If Contract Status Closed, show message -->
				<div *ngIf="contractStatus == 'contractclosed'" class="flex-p" fxLayout="row"
					fxLayoutAlign="space-around center">
					<span style="color: red; font-size: 14px; font-weight: bold;">Contract Closed</span>
				</div>

				<!-- <div *ngIf="currentTimeSheetLayout?.contractstatus == 'open' && !currentTimeSheetLayout?.timesheet && currentTimeSheetLayout?.waittill"
					class="flex-p" fxLayout="row wrap" fxLayoutAlign="center center">
					<span style="font-weight: 600; color:orangered; text-align:center;">
						<span>Please Wait {{ waitTime | async }}</span>
						<br>
						<span style="font-weight: 600; color:red; text-align:center; font-size: 12px;">(You can PUNCH IN
							15 min before of job start time)</span></span>
				</div> -->

				<!-- <div *ngIf="currentTimeSheetLayout?.contractstatus != 'notstarted' && currentTimeSheetLayout?.contractstatus != 'contractclosed' && !currentTimeSheetLayout?.waittill && !currentTimeSheetLayout?.timesheet"
					class="flex-p" fxLayout="row" fxLayoutAlign="space-around center">
					<span style="color: red; font-size: 14px; font-weight: bold;">Contract Closed</span>
				</div> -->
			</mat-card>

			<!-- Contract Job Details -->
			<mat-card *ngIf="isContractJobDetails" class="flex-p section_container" style="margin-top: 8px;"
				fxFlex="100" fxLayout="column">
				<!-- <mat-card-header>
                    <img *ngIf="!companyDetails?.companylogo" mat-card-avatar src="assets/img/avatars/logo-placeholder.png" alt="">
                    <img *ngIf="companyDetails?.companylogo" mat-card-avatar src="{{imgBaseUrl}}/company/{{companyDetails?.companylogo}}" alt="">
                    <mat-card-title>{{jobDetails.jobnumber}}</mat-card-title>
                    <mat-card-subtitle style="text-transform: capitalize;">Job Status: {{jobDetails.jobstatus}}</mat-card-subtitle>
                    <div fxFlex></div>
                </mat-card-header> -->
				<mat-card-content ngClass.xs="small">
					<!-- Company Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start">
									<span class="key">Company Name <span fxHide.xs>:</span></span>
									<span class="value"> {{contractJobDetails.employer_name | titlecase}}
									</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start">
									<span class="key">Company Profile <span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.company_profile | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Industry
										Type
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{getIndustryName(contractJobDetails.industry) | titlecase}}</span>
								</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Job Basic Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job Number
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.job_no | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Project
										Name
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.project_name | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job Title
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.job_name | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Employment
										Type
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{employmentType[contractJobDetails.employment_type] | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Department
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.department | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Description
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.description | titlecase}}</span>
								</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Job Specialization Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center"
								*ngIf="contractJobDetails.specializations !== 'others'">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job
										Specialization
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{getJobSpecializationName(contractJobDetails.specializations) | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center"
								*ngIf="contractJobDetails.jobspecialization == 'others'">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job
										Specialization
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.otherjobspecialization | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center"
								*ngIf="contractJobDetails.working_environment">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Working
										Environment
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{getWorkingEnvironmentName(contractJobDetails.working_environment)}}</span>
								</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Work Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Pax
										Required
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.pax_total - contractJobDetails.required}} /
										{{contractJobDetails.pax_total}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Job period
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.from | date:'dd-MM-yyyy'}} to
										{{contractJobDetails.to | date:'dd-MM-yyyy'}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Grace
										Period
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.grace_period}} Mins</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Time
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.start_time}} to
										{{contractJobDetails.end_time}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Days
										Type
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{workDaysType[contractJobDetails.work_days_type] | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="contractJobDetails.workdays">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Work Days
										are
										<span fxHide.xs>:</span></span>
									<span fxLayout.xs="row wrap">
										<span class="value" *ngIf="contractJobDetails.workdays?.sunday">
											{{contractJobDetails.workdays?.sunday
											? 'Sunday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.monday">
											{{contractJobDetails.workdays?.monday
											? 'Monday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.tuesday">
											{{contractJobDetails.workdays?.tuesday
											? 'Tuesday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.wednesday">
											{{contractJobDetails.workdays?.wednesday
											? 'Wednesday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.thursday">
											{{contractJobDetails.workdays?.thursday
											? 'Thursday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.friday">
											{{contractJobDetails.workdays?.friday
											? 'Friday,' : ''}} </span>
										<span class="value" *ngIf="contractJobDetails.workdays?.saturday">
											{{contractJobDetails.workdays?.saturday
											? 'Saturday' : ''}} </span>
									</span>
								</span>
							</p>
							<!-- Break Details -->
							<div *ngIf="contractJobDetails.breaklist?.length > 0">
								<p><b>Breaks : </b></p>
								<p fxLayout="row" fxLayoutAlign="start center"
									*ngFor="let break of contractJobDetails.breaklist">
									<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
									<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">{{break.break_name
										| titlecase}} <span fxHide.xs>:</span></span>
										<span class="value">{{break.from}} to {{break.to}}</span>
									</span>
								</p>
							</div>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Address Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Postal Code
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.postal_code}}</span>
								</span>
							</p>
							<!-- <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
                                <span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Block <span
                                            fxHide.xs>:</span></span>
                                    <span class="value">{{contractJobDetails.addressblock}}</span>
                                </span></p> -->
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Street
										<span fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.address | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Unit <span
											fxHide.xs>:</span></span>
									<span class="value">{{contractJobDetails.unit_no | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Region
										<span fxHide.xs>:</span></span>
									<span class="value">{{getRegionName(contractJobDetails.region) | titlecase}}</span>
								</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Location
										<span fxHide.xs>:</span></span>
									<span
										class="value">{{getJobLocationName(contractJobDetails.location) | titlecase}}</span>
								</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Salary Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="mat-icon material-icons" role="img">check_circle</mat-icon>
								<span fxLayout.xs="column" fxLayoutAlign.xs="start start"> <span class="key">Salary
										<span fxHide.xs>:</span></span>
									<span class="value">&#x24;&nbsp;{{contractJobDetails.jobseeker_salary}}</span>
								</span>
							</p>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
