<div class="inner-sidenav-content transition-2" perfectScrollbar>
	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/list" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">Employers</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/view"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{contractJobDetails?.employer_name}}</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/list"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<a class="breadcrumb-item"
					routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/{{contractJobDetails?.job_id}}/view"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{contractJobDetails?.job_name | trim }}</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">{{contractorDetails?.jobseeker_name | trim }}
						(Contractor)</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<div fxLayout="row wrap">
		<!-- Contract Between Details -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="space-between center">
				<div style="font-size:14px; letter-spacing: 1px;">
					This Contract is between
					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/{{contractJobDetails?.job_id}}/view">
						<span
							style="font-weight: bold; font-style: italic;">{{contractJobDetails?.job_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(Job)</span> by

					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/view">
						<span
							style="font-weight: bold; font-style: italic;">{{contractJobDetails?.employer_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(company)</span> and

					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/jobseekers/{{contractorDetails?.jobseeker_id}}/details">
						<span
							style="font-weight: bold; font-style: italic;">{{contractorDetails?.jobseeker_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(Contractor)</span>
				</div>
			</mat-card>
		</div>

		<!-- Contract Details -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="user-details transition-2" style="padding: 0" fxFlex fxLayout="column">
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Name : </span>
						<span class="value">{{contractorDetails?.jobseeker_name}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor EMail : </span>
						<span class="value">{{contractorDetails?.jobseeker_email}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Mobile : </span>
						<span class="value">{{contractorDetails?.jobseeker_phone}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Job Period : </span>
						<span class="value">{{contractJobDetails?.job_start_date | date:'dd/MM/yyyy'}} - {{contractJobDetails?.job_end_date
							|
							date:'dd/MM/yyyy'}}
						</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Working Time : </span>
						<span class="value">{{contractJobDetails?.job_start_time}} -
							{{contractJobDetails?.job_end_time}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Grace Period : </span>
						<span class="value">{{contractJobDetails?.grace_period}} Mins</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">OT Rounding : </span>
						<span class="value">{{contractJobDetails?.over_time_rounding}} Mins</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Jobseeker Salary : </span>
						<span class="value">S$ {{contractJobDetails?.jobseeker_salary}}</span>
					</p>
				</div>

				<div class="user-details transition-2" style="padding: 0" fxFlexAlign="start">
					<!-- <h4 style="padding: 5px;">
						Break Details
					</h4> -->

					<!-- <p fxLayout="row" fxLayoutAlign="start center" *ngFor="let break of contractJobDetails?.breaktime">
						<span class="key text-capitalize">{{break.breakname}} : </span>
						<span class="value">{{break.breakstart}} to {{break.breakend}}</span>
					</p> -->

					<p fxLayout="row" fxLayoutAlign="start center" style="border: 1px solid #ccc;">
						<span class="key">Contract Status : </span>
						<span class="value">{{contractStatus[contractDetails?.deleted] | titlecase}}</span>
					</p>
				</div>
			</mat-card>
		</div>
	</div>

	<!-- Timesheet List Details -->
	<div class="flex-p" fxLayout="row wrap" *ngIf="contractDetails != ''">
		<app-timesheet-list-details [contractId]="contract_id" [contractDetails]="contractJobDetails" fxFlex="100">
		</app-timesheet-list-details>
	</div>

	<!-- PayRolls List -->
	<!-- <div *ngIf="payrollsList.length > 0" class="flex-p" fxFlex="100">
			<mat-card style="padding: 24px 12px;">
				<mat-card-header fxLayoutAlign="center">
					<div class="mat-card-header-text">
						<mat-card-subtitle>
							<h2>PayRolls</h2>
						</mat-card-subtitle>
					</div>
				</mat-card-header>

				<mat-card-content>
					<div fxLayout="row wrap">
						<mat-accordion fxFlex="100">
							<mat-expansion-panel *ngFor="let payroll of payrollsList">
								<mat-expansion-panel-header>
									<mat-panel-title fxLayout="row wrap">
										Payroll for&nbsp;&nbsp;
										<span style="font-weight: bold">{{payroll.fromdate | date:'dd/MM/yyyy'}}</span> &nbsp;to&nbsp;
										<span style="font-weight: bold">{{payroll.todate | date:'dd/MM/yyyy'}}</span>
									</mat-panel-title>
									<mat-panel-description fxFlex="50">
										Amount : S$ {{payroll.payrollbody[0].amount}}
									</mat-panel-description>
								</mat-expansion-panel-header>

								<div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
									<div>
										<mat-list role="list">
											<mat-list-item>Benificary Acc No : {{payroll.payrollbody[0].receivingaccountnumber}}</mat-list-item>
											<mat-list-item>Benificary Name : {{payroll.payrollbody[0].receivingaccountname}}</mat-list-item>
										</mat-list>
									</div>
									<div fxFlexAlign="end">
										<button mat-stroked-button color="primary" (click)="processPayrollGenerate(payroll)">
											<mat-icon>cloud_download</mat-icon> Download as CSV Data
										</button>
									</div>
								</div>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</mat-card-content>
			</mat-card>
		</div> -->


	<!-- Roster Days -->
	<div class="flex-p" fxLayout="row wrap" *ngIf="contractJobDetails?.work_days_type == '1'">
		<app-roster-off-days-manage [contractId]="contract_id" fxFlex="100" fxFlex.gt-sm="50">
		</app-roster-off-days-manage>
	</div>
</div>
