<div class="inner-sidenav-content transition-2" perfectScrollbar>
	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/list" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">Employers</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/view"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{contractJobDetails?.employer_name}}</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/list"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<a class="breadcrumb-item"
					routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/{{contractJobDetails?.job_id}}/view"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{contractJobDetails?.job_name | trim }}</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">{{contractorDetails?.jobseeker_name | trim }}
						(Contractor)</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<div fxLayout="row wrap">
		<!-- Contract Between Details -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="space-between center">
				<div style="font-size:14px; letter-spacing: 1px;">
					This Contract is between
					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/jobs/{{contractJobDetails?.job_id}}/view">
						<span
							style="font-weight: bold; font-style: italic;">{{contractJobDetails?.job_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(Job)</span> by

					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/employers/{{contractJobDetails?.employer_id}}/view">
						<span
							style="font-weight: bold; font-style: italic;">{{contractJobDetails?.employer_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(company)</span> and

					<a style="color: blue; text-decoration: underline;"
						routerLink="/admin/jobseekers/{{contractorDetails?.jobseeker_id}}/details">
						<span
							style="font-weight: bold; font-style: italic;">{{contractorDetails?.jobseeker_name | trim }}</span>
					</a>
					<span style="font-size: smaller;">(Contractor)</span>
				</div>
			</mat-card>
		</div>

		<!-- Contract Details -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="user-details transition-2" style="padding: 0" fxFlex fxLayout="column">
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Name : </span>
						<span class="value">{{contractorDetails?.jobseeker_name}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor EMail : </span>
						<span class="value">{{contractorDetails?.jobseeker_email}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Mobile : </span>
						<span class="value">{{contractorDetails?.jobseeker_phone}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Job Period : </span>
						<span class="value">{{contractJobDetails?.job_start_date | date:'dd/MM/yyyy'}} - {{contractJobDetails?.job_end_date
							|
							date:'dd/MM/yyyy'}}
						</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Working Time : </span>
						<span class="value">{{contractJobDetails?.job_start_time}} -
							{{contractJobDetails?.job_end_time}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Grace Period : </span>
						<span class="value">{{contractJobDetails?.grace_period}} Mins</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">OT Rounding : </span>
						<span class="value">{{contractJobDetails?.over_time_rounding}} Mins</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Jobseeker Salary : </span>
						<span class="value">S$ {{contractJobDetails?.jobseeker_salary}}</span>
					</p>
				</div>

				<div class="user-details transition-2" style="padding: 0" fxFlexAlign="start">
					<!-- <h4 style="padding: 5px;">
						Break Details
					</h4> -->

					<!-- <p fxLayout="row" fxLayoutAlign="start center" *ngFor="let break of contractJobDetails?.breaktime">
						<span class="key text-capitalize">{{break.breakname}} : </span>
						<span class="value">{{break.breakstart}} to {{break.breakend}}</span>
					</p> -->

					<p fxLayout="row" fxLayoutAlign="start center" style="border: 1px solid #ccc;">
						<span class="key">Contract Status : </span>
						<span class="value">{{contractStatus[contractDetails?.deleted] | titlecase}}</span>
					</p>
				</div>
			</mat-card>
		</div>

		<!-- Timesheet List Date Period -->
		<div fxFlex fxLayoutAlign="center">
			<mat-button-toggle-group value="CurrentDay">
				<mat-button-toggle value="PreviousDay" (click)="getPreviousDays()">Previous 15 Days</mat-button-toggle>
				<mat-button-toggle value="CurrentDay" (click)="getCurrentDays()">Current 15 Days</mat-button-toggle>
				<mat-button-toggle value="NextDay" (click)="getNextDays()">Next 15 Days</mat-button-toggle>
			</mat-button-toggle-group>
		</div>

		<!-- Timesheet List Details -->
		<div *ngIf="timesheets.length > 0" class="flex-p" fxFlex="100">
			<div fxLayout="row wrap">
				<!-- Timesheet Data's Table(Payroll not generated list) Actions -->
				<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="m-b-10">
					<div *ngIf="selection.selected.length > 0">
						<button mat-raised-button color="primary" (click)="verifyTimeSheets()"
							[disabled]="selection.selected.length == 0">Verify</button>
					</div>
					<!-- <div *ngIf="contractorDetails?.accountno">
						<button mat-raised-button color="primary" (click)="generatePayroll()" [disabled]="verifiedTimeSheets?.length == 0">Generate
							Payroll
						</button>
					</div> -->

					<div *ngIf="!contractorDetails?.account_no">
						<span style="color:orangered; font-size: small;">Contractor didn't update Account Details for
							Payment</span>
					</div>
				</div>

				<!-- TimeSheet Data's Table(Payroll not generated list) -->
				<div style="overflow: overlay; overflow-y: hidden;">
					<table mat-table fxFlex="100" [dataSource]="dailyTimeSheetDataSource" class="mat-elevation-z8">
						<!-- Checkbox Column -->
						<ng-container matColumnDef="select">
							<th mat-header-cell *matHeaderCellDef>
								<mat-checkbox color="accent" (change)="$event ? masterToggle() : null"
									[checked]="selection.hasValue() && isAllSelected()"
									[indeterminate]="selection.hasValue() && !isAllSelected()">
								</mat-checkbox>
							</th>
							<td mat-cell *matCellDef="let row">
								<mat-checkbox color="primary" (click)="$event.stopPropagation()"
									(change)="$event ? selection.toggle(row) : null"
									[checked]="selection.isSelected(row)" [disabled]="row.sheet_verified">
								</mat-checkbox>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Date -->
						<ng-container matColumnDef="work_date">
							<th mat-header-cell *matHeaderCellDef> Date </th>
							<td mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy'}} </td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Actual In Time -->
						<ng-container matColumnDef="in_time">
							<th mat-header-cell *matHeaderCellDef> Act. ClockIn </th>
							<td mat-cell *matCellDef="let row"> {{row.clock_in | date:'HH:mm'}} </td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Actual Out Time -->
						<ng-container matColumnDef="out_time">
							<th mat-header-cell *matHeaderCellDef> Act. ClockOut </th>
							<td mat-cell *matCellDef="let row"> {{row.clock_out | date:'HH:mm'}} </td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- DisAgree Action -->
						<!-- <ng-container matColumnDef="disagree">
							<th mat-header-cell *matHeaderCellDef> Agree </th>
							<td mat-cell *matCellDef="let row">
								<mat-checkbox [(ngModel)]="checked" class="green" (change)="disagreePuchTime(row,$event)" [disabled]="row.sheet_verified"></mat-checkbox>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container> -->

						<!-- Verified PunchIn Time -->
						<ng-container matColumnDef="clock_verified_in">
							<th mat-header-cell *matHeaderCellDef> Verified ClockIn </th>
							<td mat-cell *matCellDef="let row"
								[ngStyle]="((row.id !== editRowId || (row.id == editRowId && editField!='field1')) && row.clock_verified_in != null) ?{'background-color': 'aquamarine'} : null">
								<mat-form-field *ngIf="row.id == editRowId && editField=='field1'" style="width:45px;"
									floatLabel="never">
									<input matInput #fieldName1 type="text"
										[(ngModel)]="editableRow.clock_verified_in"
										(ngModelChange)="changeVerifiedTime($event)" name="clock_verified_in"
										(keyup.esc)="rowEditableOff()" (blur)="rowEditableOff()"
										(keyup.enter)="rowEditableSubmit(editableRow,'field1')" autocomplete="off"
										style="text-align: center;" [pattern]="verifiedTimePattern"
										[dropSpecialCharacters]="false" mask="00:00" required>
								</mat-form-field>

								<span *ngIf="row.id !== editRowId || (row.id == editRowId && editField!='field1')"
									(click)="!row.verified && field1Editable(row, row.id)"
									style="cursor: pointer; text-decoration-line: underline; text-decoration-style: dashed; text-underline-position: under;">{{row.clock_verified_in
									| date:'HH:mm'}}</span>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Verified PunchOut Time -->
						<ng-container matColumnDef="clock_verified_out">
							<th mat-header-cell *matHeaderCellDef> Verified ClockOut </th>
							<td mat-cell *matCellDef="let row" [ngStyle]="((row.id !== editRowId || (row.id == editRowId && editField!='field2')) && row.clock_verified_out != null) ?{'background-color':
							'aquamarine'} : null">
								<mat-form-field *ngIf="row.id == editRowId && editField=='field2'" style="width:45px;">
									<input matInput #fieldName2 type="text"
										[(ngModel)]="editableRow.clock_verified_out"
										(ngModelChange)="changeVerifiedTime($event)" name="clock_verified_out"
										(keyup.esc)="rowEditableOff()" (blur)="rowEditableOff()"
										(keyup.enter)="rowEditableSubmit(editableRow,'field2')" autocomplete="off"
										style="text-align: center;" [pattern]="verifiedTimePattern"
										[dropSpecialCharacters]="false" mask="00:00" required>
								</mat-form-field>
								<span *ngIf="row.id !== editRowId || (row.id == editRowId && editField!='field2')"
									(click)="!row.verified && field2Editable(row, row.id)"
									style="cursor: pointer; text-decoration-line: underline; text-decoration-style: dashed; text-underline-position: under;">{{row.clock_verified_out
									| date:'HH:mm'}}</span>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Normal Work hr -->
						<ng-container matColumnDef="normalworkhour">
							<th mat-header-cell *matHeaderCellDef> Normal (Hr:Min) </th>
							<td mat-cell *matCellDef="let row"> {{row.normalworkhour}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfNormalWorkHrs()}}</td>
						</ng-container>

						<!-- OT1 Work hr -->
						<ng-container matColumnDef="ot1workhour">
							<th mat-header-cell *matHeaderCellDef> OT1.5 (Hr:Min) </th>
							<td mat-cell *matCellDef="let row"> {{(row.salarymultiplier == 1 || row.salarymultiplier == 1.5) ?
								row.otworkhour : '00:00'}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfOT1point5WorkHrs()}}</td>
						</ng-container>

						<!-- OT2 Work hr -->
						<ng-container matColumnDef="ot2workhour">
							<th mat-header-cell *matHeaderCellDef> OT2 (Hr:Min) </th>
							<td mat-cell *matCellDef="let row"> {{row.salarymultiplier == 2 ? row.otworkhour : '00:00'}}
							</td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfOT2WorkHrs()}}</td>
						</ng-container>

						<!-- Total Work hr -->
						<ng-container matColumnDef="totalworkhour">
							<th mat-header-cell *matHeaderCellDef> Total (Hr:Min) </th>
							<td mat-cell *matCellDef="let row"> {{row.totalworkhour}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfTotalWorkHrs()}}</td>
						</ng-container>

						<!-- Normal Work hr Salary -->
						<ng-container matColumnDef="normalsalary">
							<th mat-header-cell *matHeaderCellDef> Normal Salary (S$) </th>
							<td mat-cell *matCellDef="let row"> {{row.salary}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfNormalWorkHrSalary() | number}}</td>
						</ng-container>

						<!-- OT1 Work hr Salary -->
						<ng-container matColumnDef="ot1salary">
							<th mat-header-cell *matHeaderCellDef> OT1.5 Salary (S$)</th>
							<td mat-cell *matCellDef="let row">{{(row.salarymultiplier == 1 || row.salarymultiplier == 1.5) ? row.ot_1_salary :
								0}}</td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfOT1point5WorkHrSalary() | number}}</td>
						</ng-container>

						<!-- OT2 Work hr Salary -->
						<ng-container matColumnDef="ot2salary">
							<th mat-header-cell *matHeaderCellDef> OT2 Salary (S$)</th>
							<td mat-cell *matCellDef="let row"> {{row.salarymultiplier == 2 ? row.ot_2_salary : 0}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfOT2WorkHrSalary() | number}}</td>
						</ng-container>

						<!-- Total Salary -->
						<ng-container matColumnDef="totalsalary">
							<th mat-header-cell *matHeaderCellDef> Total Salary (S$) </th>
							<td mat-cell *matCellDef="let row"> {{row.salary_total}} </td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfTotalWorkHrSalary() | number}}</td>
						</ng-container>

						<!-- Ooget Commision -->
						<ng-container matColumnDef="oogetscommission">
							<th mat-header-cell *matHeaderCellDef> Ooget Commision (S$) </th>
							<td mat-cell *matCellDef="let row">
								{{row.oogetscommission}}
							</td>
							<td mat-footer-cell *matFooterCellDef>{{getSumOfTotalOogetCommision() | number}}</td>
						</ng-container>

						<!-- Late Reason Dialog Trigger -->
						<ng-container matColumnDef="lateinitimation">
							<th mat-header-cell *matHeaderCellDef> Late Info </th>
							<td mat-cell *matCellDef="let row">
								<button mat-icon-button *ngIf="row.lateintimation" (click)="LateReason(row)">
									<mat-icon style="color:orange;">info</mat-icon>
								</button>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<!-- Note Action Dialog Trigger -->
						<ng-container matColumnDef="notedialogtrigger">
							<th mat-header-cell *matHeaderCellDef> Note </th>
							<td mat-cell *matCellDef="let row">
								<button mat-icon-button (click)="NoteAction(row)">
									<mat-icon style="color:blue;">notes</mat-icon>
								</button>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
					</table>
				</div>
			</div>
		</div>

		<!-- PayRolls List -->
		<!-- <div *ngIf="payrollsList.length > 0" class="flex-p" fxFlex="100">
			<mat-card style="padding: 24px 12px;">
				<mat-card-header fxLayoutAlign="center">
					<div class="mat-card-header-text">
						<mat-card-subtitle>
							<h2>PayRolls</h2>
						</mat-card-subtitle>
					</div>
				</mat-card-header>

				<mat-card-content>
					<div fxLayout="row wrap">
						<mat-accordion fxFlex="100">
							<mat-expansion-panel *ngFor="let payroll of payrollsList">
								<mat-expansion-panel-header>
									<mat-panel-title fxLayout="row wrap">
										Payroll for&nbsp;&nbsp;
										<span style="font-weight: bold">{{payroll.fromdate | date:'dd/MM/yyyy'}}</span> &nbsp;to&nbsp;
										<span style="font-weight: bold">{{payroll.todate | date:'dd/MM/yyyy'}}</span>
									</mat-panel-title>
									<mat-panel-description fxFlex="50">
										Amount : S$ {{payroll.payrollbody[0].amount}}
									</mat-panel-description>
								</mat-expansion-panel-header>

								<div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
									<div>
										<mat-list role="list">
											<mat-list-item>Benificary Acc No : {{payroll.payrollbody[0].receivingaccountnumber}}</mat-list-item>
											<mat-list-item>Benificary Name : {{payroll.payrollbody[0].receivingaccountname}}</mat-list-item>
										</mat-list>
									</div>
									<div fxFlexAlign="end">
										<button mat-stroked-button color="primary" (click)="processPayrollGenerate(payroll)">
											<mat-icon>cloud_download</mat-icon> Download as CSV Data
										</button>
									</div>
								</div>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</mat-card-content>
			</mat-card>
		</div> -->

		<!-- Off Days -->
		<div *ngIf="contractJobDetails?.work_days_type != '1'" class="flex-p" fxFlex="50">
			<mat-card style="padding: 24px 12px;">
				<mat-card-header fxLayoutAlign="center">
					<div class="mat-card-header-text">
						<mat-card-subtitle>
							<h2>Roster (Off Days)</h2>
						</mat-card-subtitle>
					</div>
				</mat-card-header>

				<mat-card-content>
					<div fxLayoutAlign="space-between" style="padding:0 16px;">
						<mat-form-field fxFlex="100">
							<input matInput name="dayOffFilter" [(ngModel)]="dayOffFilter"
								placeholder="Search By Dates">
						</mat-form-field>

						<mat-form-field style="display: none">
							<input matInput [min]="tomorrow" [matDatepicker]="dayoffpicker" placeholder="Choose a date"
								(dateChange)="addNewOffDay($event.value)">
							<mat-datepicker #dayoffpicker touchUi></mat-datepicker>
						</mat-form-field>

						<button color="primary" mat-mini-fab (click)="dayoffpicker.open()">
							<mat-icon>add</mat-icon>
						</button>
					</div>
					<div class="todo-list">
						<mat-list>
							<mat-list-item
								*ngFor="let day of OffDays | filter:dayOffFilter | paginate: dayOffPaginateConfig; let i=index;">
								<div class="mat-list-text" style="padding-left:0;">
									{{day.date | date:'dd/MM/yyyy EEEE'}}
								</div>
								<button mat-icon-button color="warn" [disabled]="checkPastDay(day.date)"
									(click)="removeDate(day.id, i)">
									<mat-icon>delete_forever</mat-icon>
								</button>
							</mat-list-item>
						</mat-list>

						<div fxLayout="row wrap">
							<div class="flex-p" fxFlex="100">
								<div class="p-0 mat-paginator">
									<div class="mat-paginator-container">
										<div class="mat-paginator-page-size">
											<div class="mat-paginator-page-size-label">
												Items per page:
											</div>
											<mat-form-field
												class="mat-paginator-page-size-select mat-form-field-hide-placeholder">
												<mat-select placeholder=""
													[(ngModel)]="dayOffPaginateConfig.itemsPerPage" name="itemsPerPage">
													<mat-option *ngFor="let pageSizeOption of pageSizeOptions"
														[value]="pageSizeOption">
														{{pageSizeOption}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="mat-paginator-range-actions">
											<pagination-controls class="ooget-pagination" [id]="dayOffPaginateConfig.id"
												[maxSize]="dayOffPaginateControlMaxSize"
												[autoHide]="dayOffPaginateControlAutoHide"
												(pageChange)="dayOffPaginateConfig.currentPage = $event">
											</pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</mat-card-content>
			</mat-card>
		</div>

		<app-roster-off-days-manage [contractId]="contract_id"></app-roster-off-days-manage>
	</div>
</div>
