<div class="mat-menu-panel toolbar-dropdown-menu user-menu">
  	<div class="mat-menu-content" style="opacity: 1;">
    	<mat-toolbar color="primary">
    	    <div class="user-info" fxLayout="row" fxLayoutAlign="space-around center">
    	        <img alt="user-image" class="rounded mat-elevation-z6" width="80" 	src="assets/img/avatars/user.jpg">
    	        <p>Emilio Verdines <br> <small>Employer</small></p>
    	    </div>
		</mat-toolbar>
	  
		<a mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center"  routerLink="/employer/profile/add" (click)="close()">
    		<mat-icon>person</mat-icon>
    		<span>Profile</span>
		</a>

		<!-- <a mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center">
    		<mat-icon>settings</mat-icon>
    		<span>Settings</span>
		</a>

		<a mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center">
    		<mat-icon>lock</mat-icon>
    		<span>Lock screen</span>
		</a>

		<a mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center">
    		<mat-icon>help</mat-icon>
    		<span>Help</span>
		</a> -->

		<mat-divider></mat-divider>

		<a mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center" (click)="onLogout()">
    		<mat-icon>power_settings_new</mat-icon>
    		<span>Log out</span>
		</a>
	</div>
</div>