<div class="inner-sidenav-content transition-2">
	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div [ngBusy]="busy"></div>
		<!-- <div [ngBusy]="{busy: busyB, template:'loading', minDuration: 800000}"></div> -->
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/employer/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/employer/jobs/list" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">Pending Job Applications</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- <div fxLayout="row wrap" *ngIf="companyDetails">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="p-10" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div style="font-size:16px;">
					<span style="font-weight:600;">Company Name</span> :
					<span style="font-style:italic;">{{companyDetails.companyname}}</span>
				</div>

				<div style="font-size:16px;">
					<span style="font-weight:600;">Company Code</span> :
					<span style="font-style:italic;">{{companyDetails.companycode}}</span>
				</div>
			</mat-card>
		</div>
	</div> -->

	<!-- <div fxLayout="row wrap">
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div style="font-size:16px;">
					<span style="font-weight:600;">Job No</span> :
					<span style="font-style:italic;">{{jobDetails?.jobnumber}}</span>
				</div>

				<div style="font-size:16px;">
					<span style="font-weight:600;">Job Period</span> :
					<span style="font-style:italic;">{{jobDetails?.jobperiodfrom | date:'dd/MM/yyyy'}} -
						{{jobDetails?.jobperiodto | date:'dd/MM/yyyy'}}</span>
				</div>

				<div style="font-size:16px;">
					<span style="font-weight:600;">Vacancies / Pax Required</span> :
					<span style="font-style:italic;">{{jobDetails?.numberofpax - jobDetails?.numberofcontracts
						}}/{{jobDetails?.numberofpax}}</span>
				</div>

				<div style="font-size:16px;">
					<span style="font-weight:600;">Job Status</span> :
					<span style="font-style:italic;">{{jobDetails?.jobstatus | titlecase}}</span>
				</div>
			</mat-card>
		</div>
	</div> -->

	<!-- Data Lists Start -->
	<div class="flex-p" *ngIf="isCandidatesAvailable">
		<mat-card class="table" fxLayout="row wrap">
			<div class="flex-p" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div fxFlex>
					<h4>Pending Applications</h4>
				</div>
				<!-- Search Data and More.. Start -->
				<div fxFlex fxLayout="row" fxLayoutAlign="end center">
					<form class="user-search" [ngClass]="tab1search ? 'show' : ''">
						<mat-form-field fxFlex>
							<input matInput name="tab1Filter" [(ngModel)]="tab1Filter"
								placeholder="Search Candidates...">
						</mat-form-field>
					</form>

					<button style="color: darkgray;" mat-icon-button fxLayoutAlign="center end"
						(click)="tab1search=!tab1search">
						<mat-icon>search</mat-icon>
					</button>
				</div>
				<!-- Search Data and More.. End -->
			</div>

			<table fxFlex="100">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Job Title</th>
						<th>Applied At.</th>
					</tr>
				</thead>
				<tbody>
					<tr class="pointer"
						*ngFor="let candidates of candidates_list | filter:tab1Filter | paginate: tab1PaginateConfig; let i=index;"
						routerLink="/employer/jobs/{{candidates.job_id}}/candidates/{{candidates.jobseeker_id}}/view">
						<td>{{candidates.jobseeker_name}}</td>
						<td>{{candidates.jobseeker_email}}</td>
						<td>{{candidates.job_name}} - {{candidates.job_no}}</td>
						<td>{{candidates.applied_on}}</td>
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>

	<!-- Pagination Start -->
	<div fxLayout="row wrap" *ngIf="isCandidatesAvailable">
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-0 mat-paginator">
				<div class="mat-paginator-container">
					<div class="mat-paginator-page-size">
						<div class="mat-paginator-page-size-label">
							Items per page:
						</div>
						<mat-form-field class="mat-paginator-page-size-select mat-form-field-hide-placeholder">
							<mat-select placeholder="" [(ngModel)]="tab1PaginateConfig.itemsPerPage"
								name="itemsPerPage">
								<mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
									{{pageSizeOption}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="mat-paginator-range-actions">
						<pagination-controls class="ooget-pagination" [id]="tab1PaginateConfig.id"
							[maxSize]="tab1PaginateControlMaxSize" [autoHide]="tab1PaginateControlAutoHide"
							(pageChange)="tab1PaginateConfig.currentPage = $event"></pagination-controls>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Pagination End -->

	<div *ngIf="!isCandidatesAvailable" fxLayout="column" fxLayoutAlign="center center" style="height:50%;">
		<h1 style="color: #bbbbbb">
			No Pending Applicants Found.
		</h1>
	</div>
</div>
