<div class="inner-sidenav-content transition-2">
    <!-- Http Progress Bar -->
    <ng-progress></ng-progress>
    
    <!-- Breadcrumb Start -->
    <div fxLayout="row wrap">
        <div class="flex-p" fxFlex="1 1 100%">
            <mat-card class="mat-breadcrumb" fxLayout="row">
                <a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row" fxLayoutAlign="flex-start center">
                    <mat-icon>home</mat-icon>
                    <span class="breadcrumb-title">Home</span>
                </a>

                <a class="breadcrumb-item" routerLink="/admin/jobseekers/list" fxLayout="row" fxLayoutAlign="center center">
                    <span class="breadcrumb-title">Jobseekers</span>
                </a>

                <div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
                    <span class="breadcrumb-title active">Jobseeker Details</span>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div [ngBusy]="busy"></div>

    <div fxLayout="row wrap">
        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">JobSeeker Profile</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Candidate Name : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.username"> {{jobSeekerDetails.username}} </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.username"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">E-Mail : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.email"> {{jobSeekerDetails.email}} </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.email"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Country : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.country"> {{jobSeekerDetails.country}} </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.country"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">NRIC / FIN : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.nricfinno"> {{jobSeekerDetails.nricfinno}} </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.nricfinno"> Not Specified </span>
                            <span *ngIf="jobSeekerDetails?.nriceditable=='false'" style="color: blue; font-size: 12px; text-decoration: underline; cursor: pointer;"
                                (click)="toggleNricFinEditable('true')">Set to Jobseeker Can change</span>
                            <span *ngIf="jobSeekerDetails?.nriceditable=='true'" style="color: blue; font-size: 12px; text-decoration: underline; cursor: pointer;"
                                (click)="toggleNricFinEditable('false')">Remove to Jobseeker Can change</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Mobile No : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.mobileno"> {{jobSeekerDetails.mobileno}} </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.mobileno"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">DOB / Age : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.dob"> {{jobSeekerDetails.dob | date:'dd/MM/yyyy'}} - {{jobSeekerDetails.dob | age}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.dob"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Address : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.address"> {{jobSeekerDetails.address}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.address"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Gender : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.gender"> {{jobSeekerDetails.gender}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.gender"> Not Specified </span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">Bank Details</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Bank Name : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.bankname"> {{jobSeekerDetails.bankname}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.bankname"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Bank Code : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.bankcode"> {{jobSeekerDetails.bankcode}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.bankcode"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Branch Code : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.branchcode"> {{jobSeekerDetails.branchcode}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.branchcode"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Account No : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.accountno"> {{jobSeekerDetails.accountno}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.accountno"> Not Specified </span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">Job Preferences</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Employment Type : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.employmenttype"> {{jobSeekerDetails.employmenttype}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.employmenttype"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Region : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.preferredregion"> {{jobSeekerDetails.preferredregion}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.preferredregion"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Location : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.preferredlocation"> {{jobSeekerDetails.preferredlocation}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.preferredlocation"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Specialization : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.preferredspecialization">
                                <ul>
                                    <li style="list-style-type: none;" *ngFor="let specialization of  jobSeekerDetails.preferredspecialization">
                                        {{specialization}}
                                    </li>
                                </ul>
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.preferredspecialization"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Working Environment : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.workingenvironment"> {{jobSeekerDetails.workingenvironment}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.workingenvironment"> Not Specified </span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">Past Experiences</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start start">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Experience In : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.experiencein">
                                <ul>
                                    <li style="list-style-type: none;" *ngFor="let experiencein of jobSeekerDetails.experiencein">
                                        {{experiencein}}
                                    </li>
                                </ul>
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.experiencein"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Total Experience
                                <small>(in years)</small> : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.totalexperienceinyears"> {{jobSeekerDetails.totalexperienceinyears}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.totalexperienceinyears"> Not Specified </span>
                        </p>

                        <div style="margin-top: 15px;" *ngFor="let pastExp of jobSeekerDetails.previousexperince; let i=index;">
                            <h4 style="padding-left: 5px;">Experience #{{i+1}}</h4>
                            <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                                <span class="key">Company Name : </span>
                                <span class="value" *ngIf="pastExp?.previouscompanyname"> {{pastExp.previouscompanyname}}</span>
                                <span class="value_not_specified" *ngIf="!pastExp?.previouscompanyname"> Not Specified </span>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                                <span class="key">Position : </span>
                                <span class="value" *ngIf="pastExp?.previouscompanyposition"> {{pastExp.previouscompanyposition}}</span>
                                <span class="value_not_specified" *ngIf="!pastExp?.previouscompanyposition"> Not Specified </span>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                                <span class="key">Job Responsibility : </span>
                                <span class="value">{{pastExp.previousjobresponsibility ? pastExp.previousjobresponsibility : "Not Specified"}}</span>
                                <span class="value" *ngIf="jobSeekerDetails?.previousjobresponsibility"> {{pastExp.previousjobresponsibility}}</span>
                                <span class="value_not_specified" *ngIf="!pastExp?.previousjobresponsibility"> Not Specified </span>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                                <span class="key">Working Period : </span>
                                <span class="value" *ngIf="pastExp?.previousjobfrom"> {{pastExp.previousjobfrom}} - {{pastExp.previousjobto}}</span>
                                <span class="value_not_specified" *ngIf="!pastExp?.previousjobfrom"> Not Specified </span>
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">Notification Status</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Notification Alert Type : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.notificationalerttype == 'anytime'">
                                Always On
                            </span>
                            <span class="value" *ngIf="jobSeekerDetails?.notificationalerttype == 'off'">
                                Notification off Some period
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.notificationalerttype"> Not Specified </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobSeekerDetails?.notificationalerttype == 'off'">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Notification Off Untill : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.alertofffrom"> {{jobSeekerDetails.alertofffrom}} - {{jobSeekerDetails.alertoffto}}</span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.alertofffrom"> Not Specified </span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card class="p-0">
                <div class="bg-lightgray" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">Profile Image and Documents</h3>
                </div>

                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="user-details transition-2" fxFlex="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">Profile Image : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.jobseekerimage">
                                <img style="height:200px; width:200px; border-radius: 10px;" alt="" src="{{img_base_url}}/jobseeker/{{jobSeekerDetails.jobseekerimage}}">
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.jobseekerimage"> Not Uploaded </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">ID Front Side : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.jobseekeridprooffront">
                                <img style="height:200px; width:200px; border-radius: 10px;" alt="" src="{{img_base_url}}/jobseeker/{{jobSeekerDetails.jobseekeridprooffront}}">
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.jobseekeridprooffront"> Not Uploaded </span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
                            <span class="key">ID Back Side : </span>
                            <span class="value" *ngIf="jobSeekerDetails?.jobseekeridproofback">
                                <img style="height:200px; width:200px; border-radius: 10px;" alt="" src="{{img_base_url}}/jobseeker/{{jobSeekerDetails.jobseekeridproofback}}">
                            </span>
                            <span class="value_not_specified" *ngIf="!jobSeekerDetails?.jobseekeridproofback"> Not Uploaded </span>
                        </p>

                        <div>
                            <span *ngIf="jobSeekerDetails?.jobseekeridproofeditable=='false'" style="color: blue; font-size: 12px; text-decoration: underline; cursor: pointer;"
                                (click)="toggleIdProofEditable('true')">Enable to Jobseeker Can change Docments</span>
                            <span *ngIf="jobSeekerDetails?.jobseekeridproofeditable=='true'" style="color: blue; font-size: 12px; text-decoration: underline; cursor: pointer;"
                                (click)="toggleIdProofEditable('false')">Disable to Jobseeker Can change Documents</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>