@import "../../../../variables.scss";
.inner-sidenav-content {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    min-height: calc(100% - 80px);
    overflow: auto;
}

.user-name {
    padding: 10px 12px;
    font-weight: 400;
    font-size: 1.17em;
    margin: 0px;
    font-weight: 600;
}

.user-content .user-details span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding-left: 10px;
}

.user-content .user-details span.key {
    color: rgba(8, 8, 8, 0.7);
    font-weight: 600;
    font-size: 16px;
    overflow: visible;
    white-space: normal;
}

.user-content .user-details span.value {
    color: rgba(58, 51, 51, 0.7);
    font-weight: 600;
    font-size: 14px;
    overflow: visible;
    white-space: normal;
}

.p-10 {
    padding: 10px !important;
}

.bg-lightgray {
    background: #eee;
}

.user-details {
    padding: 10px;
}

.user-details p {
    padding: 5px;
    margin: 0px;
}

.user-details p .muted-text {
    color: #a7a5a5
}

/* Mat Menu Start */

.mat-menu-item {
    line-height: 34px;
    height: 34px;
    font-size: 14px;
}

/* Mat Menu End */

.value_not_specified {
    font-style: italic;
}
