<!-- <mat-sidenav-container>
    <mat-sidenav-content>
        <div class="h-100 p-15" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="p-0 box" fxFlex="95" fxFlex.gt-sm="30" fxFlex.sm="60">
                <div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
                    <a routerLink="/" mat-mini-fab color="accent" style="position: absolute; right:0; top:0;">
                        <mat-icon>home</mat-icon>
                    </a>
                    <a mat-button>
                        <img style="height:100%; width: 50%;" alt="Logo" src="assets/img/logo/ooget.png">
                    </a>
                </div>

                <div [ngBusy]="{busy:busy}"></div>

                <form [formGroup]="jobseekerPassResetForm" (ngSubmit)="onAuthCheck()">
                    <mat-card-content class="box-content mat-card-content" fxLayout="column" fxLayoutAlign="end center">
                        <mat-card ngClass="box-content-inner-mobile" ngClass.gt-xs="box-content-inner" fxLayout="column" fxLayoutAlign="center center" [style.fontSize.px]="13">
                            <span class="box-content-header">Forgot Password ?</span>

                            <mat-form-field class="w-100">
                                <input matInput type="email" placeholder="Email" formControlName="email" required>
                                <mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('required')" align="start">
                                    Email Required
                                </mat-error>
                                <mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('pattern')" align="start">
                                    Invalid Email Format
                                </mat-error>
                            </mat-form-field>

                            <div Class="authmsg" *ngIf="isAuthMsg">{{isAuthMsg}}</div>
                        </mat-card>

                        <button type="submit" mat-raised-button color="primary" ngClass="box-button-mobile" ngClass.gt-xs="box-button">
                            SUBMIT
                        </button>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="margin-top: 10px; width: 100%;">
                            <div fxFlex></div>
                            <div>
                                <a style="color: #696666;" class="f-w-600" mat-button routerLink="/auth/login">Remember Password? Click to Login</a>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="h-100" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="p-0 box" fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="60" ngStyle.xs="box-shadow:none">
                <div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
                    <!-- <a routerLink="/" mat-mini-fab color="accent" style="position: absolute; right:0; top:0;">
                        <mat-icon>home</mat-icon>
                    </a> -->
                    <!-- <a mat-button> -->
                    <img style="height:auto; width: 50%;" alt="Logo" src="assets/img/logo/ooget.png">
                    <!-- </a> -->
                </div>

                <div [ngBusy]="{busy:busy}"></div>

                <form [formGroup]="jobseekerPassResetForm" (ngSubmit)="onAuthCheck()">
                    <mat-card-content ngClass="box-content-mobile" ngClass.gt-xs="box-content" class="mat-card-content" fxLayout="column" fxLayoutAlign="end center">
                        <mat-card ngClass="box-content-inner-mobile" ngClass.gt-xs="box-content-inner" fxLayout="column" fxLayoutAlign="center center"
                            fxLayoutAlign.gt-xs="end center" ngStyle.xs="box-shadow:none" [style.fontSize.px]="13">
                            <span class="box-content-header f-w-600" style="font-size: 16px; margin-bottom: 10px;">Forgot Password ?</span>

                            <mat-form-field class="w-100">
                                <input matInput type="email" placeholder="Email" formControlName="email" required>
                                <mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('required')" align="start">
                                    Email Required
                                </mat-error>
                                <mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('pattern')" align="start">
                                    Invalid Email Format
                                </mat-error>
                            </mat-form-field>

                            <div Class="authmsg" *ngIf="isAuthMsg">{{isAuthMsg}}</div>
                        </mat-card>

                        <button type="submit" mat-raised-button color="primary" ngClass="box-button-mobile" ngClass.gt-xs="box-button" style="margin-top: 16px;">
                            SUBMIT
                        </button>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="margin-top: 10px; width: 100%;">
                            <div fxFlex></div>
                            <div>
                                <a style="color: #696666;" class="f-w-600" mat-button routerLink="/auth/login">Remember Password?
                                    Click to Login</a>
                            </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="end center" style="width: 100%; margin-bottom: 10px;">
                            <div>
                                <a style="color: #696666;" class="f-w-600" mat-button routerLink="/">Home
                                    Page
                                </a>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>