<div class="inner-sidenav-content transition-2" perfectScrollbar>
	<!-- Http Progress Bar -->
	<ng-progress></ng-progress>

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/list" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">Employers</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{jobDetails.employer_id}}/view" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{jobDetails.employer_name | titlecase}}</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{jobDetails.employer_id}}/jobs/list"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">Details</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<!-- Company Details -->
	<div fxLayout="row wrap">
		<!--  *ngIf="companyDetails" -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div style="font-size:16px;">
					<span style="font-weight:600;">Company Name</span> :
					<span style="font-style:italic; text-decoration: underline; color: blue; cursor: pointer;"
						routerLink="/admin/employers/{{jobDetails.employer_id}}/view">{{jobDetails.employer_name | titlecase}}</span>
				</div>

				<div style="font-size:16px;" *ngIf="jobDetails?.companycode;">
					<span style="font-weight:600;">Company Code</span> :
					<span style="font-style:italic; text-decoration: underline; color: blue; cursor: pointer;"
						routerLink="/admin/employers/{{jobDetails?.employer_id}}/view">{{jobDetails.companycode
						| titlecase}}</span>
				</div>

				<div style="font-size:16px;" *ngIf="!jobDetails?.companycode;">
					<span style="font-style:italic; text-decoration: underline; color: blue; cursor: pointer;"
						routerLink="/admin/employers/{{jobDetails?.employer_id}}/view">Generate
						Company Code</span>
				</div>
			</mat-card>
		</div>
	</div>

	<!-- Job Details -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="100">
			<mat-card>
				<mat-card-header>
					<img *ngIf="!jobDetails?.companylogo" mat-card-avatar src="assets/img/avatars/logo-placeholder.png"
						alt="">
					<img *ngIf="jobDetails?.companylogo" mat-card-avatar src="{{baseUrl}}/{{jobDetails?.companylogo}}"
						alt="">
					<mat-card-title>{{jobDetails.job_no}}</mat-card-title>
					<mat-card-subtitle style="text-transform: capitalize;">Job Status: {{jobStatus[jobDetails.status]}}
					</mat-card-subtitle>
					<div fxFlex></div>
					<div *ngIf="jobDetails != ''">
						<button mat-raised-button color="primary"
							(click)="duplicateJobConfirm(jobDetails.employer_id, jobDetails.id)">Copy
						</button>
						&nbsp;
					</div>
					<div *ngIf="jobDetails != '' && jobDetails.status == 1">
						<button mat-raised-button color="primary"
							routerLink="/admin/employers/{{jobDetails.employer_id}}/jobs/{{jobDetails.id}}/edit">Edit
						</button>
					</div>
					<div *ngIf="jobDetails.status == 1">
						&nbsp;
						<button mat-raised-button color="primary"
							(click)="activateJobConfirm(jobDetails.employer_id, jobDetails.id)">Activate
							This Job</button>
					</div>
					<!-- <div>
						&nbsp;
						<button mat-raised-button color="primary" (click)="activateJobConfirm(jobDetails.employer_id, jobDetails.id)">Activate
							This Job</button>
					</div> -->
					<div *ngIf="jobDetails.jobstatus == 3">
						&nbsp;
						<button mat-raised-button color="primary"
							(click)="rePostJob(jobDetails.employer_id, jobDetails.id)" disabled=true>Repost
							Job</button>
					</div>
					<!-- <div>
						<button mat-raised-button color="primary" (click)="processPayrollGenerate()">Activate This
							Job</button>
					</div> -->
				</mat-card-header>

				<mat-divider></mat-divider>

				<mat-card-content>
					<!-- Job Basic Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Job Number : </span>
								<span class="value">{{jobDetails.job_no}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Project Name : </span>
								<span class="value">{{jobDetails.project_name}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Job Title : </span>
								<span class="value">{{jobDetails.job_name}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Employment Type : </span>
								<span class="value">{{employmentType[jobDetails.employment_type] | titlecase}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Department : </span>
								<span class="value">{{jobDetails.department | titlecase}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Description : </span>
								<span class="value">{{jobDetails.description}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Job Specialization Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center"
								*ngIf="jobDetails.jobspecialization !== 'others'">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Job Specialization : </span>
								<span
									class="value">{{getJobSpecializationName(jobDetails.specializations) | titlecase}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center"
								*ngIf="jobDetails.jobspecialization == 'others'">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Job Specialization : </span>
								<span class="value">{{jobDetails?.otherjobspecialization}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.working_environment">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Working Environment : </span>
								<span class="value">{{getWorkingEnvironmentName(jobDetails.working_environment)}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Work Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Vacancies / Pax Required : </span>
								<span class="value">{{jobDetails.pax_total - jobDetails.required}} /
									{{jobDetails.pax_total}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Job period : </span>
								<span class="value">{{jobDetails.from}} <i>to</i> {{jobDetails.to}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Grace Period : </span>
								<span class="value">{{jobDetails.grace_period}} Mins</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">OT Rounding : </span>
								<span class="value">{{jobDetails.over_time_rounding}} Mins</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Work Time : </span>
								<span class="value">{{jobDetails.start_time}} <i>to</i> {{jobDetails.end_time}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Work Days Type : </span>
								<span class="value">{{workDaysType[jobDetails.work_days_type]}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.workdays">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Work Days are : </span>
								<span class="value" *ngIf="jobDetails.workdays?.sunday"> {{jobDetails.workdays?.sunday ? 'Sunday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.monday"> {{jobDetails.workdays?.monday ? 'Monday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.tuesday"> {{jobDetails.workdays?.tuesday ? 'Tuesday ,'
									: ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.wednesday"> {{jobDetails.workdays?.wednesday ?
									'Wednesday ,' : ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.thursday"> {{jobDetails.workdays?.thursday ? 'Thursday
									,' : ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.friday"> {{jobDetails.workdays?.friday ? 'Friday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.saturday"> {{jobDetails.workdays?.saturday ? 'Saturday'
									: ''}} </span>
							</p>
							<!-- Break Details -->
							<div *ngIf="jobDetails.breaklist?.length > 0">
								<p><b>Breaks : </b></p>
								<p fxLayout="row" fxLayoutAlign="start center"
									*ngFor="let break of jobDetails.breaklist">
									<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
										check_circle</mat-icon>
									<span class="key">{{break.break_name}} : </span>
									<span class="value">{{break.from}} <i>to</i> {{break.to}}</span>
								</p>
							</div>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Address Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Postal Code : </span>
								<span class="value">{{jobDetails.postal_code}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Block : </span>
								<span class="value">{{jobDetails.address}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Street : </span>
								<span class="value">{{jobDetails.address}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Unit : </span>
								<span class="value">{{jobDetails.unit_no}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Region : </span>
								<span class="value">{{getRegionName(jobDetails.region) | titlecase}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Location : </span>
								<span class="value">{{getJobLocationName(jobDetails.location) | titlecase}}</span>
							</p>
						</div>
					</div>
					<mat-divider *ngIf="jobDetails.markup_rate"></mat-divider>
					<!-- Salary Details -->
					<div *ngIf="jobDetails.markup_rate">
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Charge Rate : </span>
								<span class="value">&#x24;&nbsp;{{jobDetails.charge_rate}}</span>
							</p>

							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Markup Rate : </span>
								<span class="value">{{jobDetails.markup_in == "$" ?
									'&#x24;&nbsp;':''}}{{jobDetails.markup_rate}}{{jobDetails.markup_in
									== "%" ? '%':''}}</span>
							</p>

							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">
									check_circle</mat-icon>
								<span class="key">Jobseeker Salary : </span>
								<span class="value">&#x24;&nbsp;{{jobDetails.jobseeker_salary}}</span>
							</p>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>

		<div class="flex-p" fxFlex="100" *ngIf="jobContractors?.length > 0">
			<!-- <mat-card>
				<mat-card-header>
					<mat-card-title>Job Contractors</mat-card-title>
				</mat-card-header>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="jobContractors?.length > 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						<p *ngFor="let contractor of jobContractors; let i=index;">
							<span>{{i+1}}.&nbsp;
								<a style="color:blue; font-weight: bold;" routerLink="/admin/employers/jobs/{{contractor._id}}/contract_details">
									{{contractor.jobseekerid.username}}
								</a>
							</span>
						</p>
					</div>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="jobContractors?.length == 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						No Contractors
					</div>
				</div>
			</mat-card> -->

			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<h4>Job Contractors</h4>
						</mat-panel-title>
						<mat-panel-description>
							<!-- <a routerLink="/admin/employers/{{jobDetails.employer_id}}/jobs/{{jobDetails.id}}/invoice">
								Generate Invoice
							</a> -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
						<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
							<mat-list>
								<mat-list-item *ngFor="let contractor of jobContractors; let i=index;">
									<div class="mat-list-text" style="padding-left:0;">
										<p>{{i+1}}.&nbsp;
											<a style="color:blue; font-weight: bold;"
												routerLink="/admin/employers/jobs/{{contractor.id}}/contract_details">
												{{contractor.jobseeker_name}}
											</a></p>
									</div>

									<!-- <button mat-icon-button color="warn"
										(click)="removeContractorFromJobConfirm(contractor.id, i)">
										<mat-icon>delete_forever</mat-icon>
									</button> -->
								</mat-list-item>
							</mat-list>

						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<!-- <button mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>

		<div class="flex-p" style="overflow: overlay; overflow-y: hidden;" #TABLE>
			<table mat-table #table fxFlex="100" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
						 [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>

				<ng-container matColumnDef="jan1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jan1stHalf.unVerified}} </td>
				</ng-container>

				<ng-container matColumnDef="jan2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jan2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="feb1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.feb1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="feb2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.feb2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="mar1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.mar1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="mar2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.mar2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="apr1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.apr1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="apr2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.apr2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="may1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.may1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="may2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.may2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jun1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jun1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jun2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jun2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jul1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jul1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jul2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jul2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="aug1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.aug1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="aug2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.aug2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="sep1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.sep1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="sep2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.sep2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="oct1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.oct1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="oct2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.oct2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="nov1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.nov1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="nov2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.nov2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="dec1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.dec1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="dec2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.dec2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
						<div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
							<div class="example-element-diagram">
								<div class="example-element-position"> {{element.position}} </div>
								<div class="example-element-symbol"> {{element.symbol}} </div>
								<div class="example-element-name"> {{element.name}} </div>
								<div class="example-element-weight"> {{element.weight}} </div>
							</div>
							<div class="example-element-description">
								{{element.description}}
								<span class="example-element-description-attribution"> -- Wikipedia </span>
							</div>
						</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="select1">
					<th mat-header-cell *matHeaderCellDef> </th>
				</ng-container>
				<ng-container matColumnDef="name1">
					<th mat-header-cell *matHeaderCellDef> </th>
				</ng-container>

				<ng-container matColumnDef="jan">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Jan </th>
				</ng-container>

				<ng-container matColumnDef="feb">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Feb </th>
				</ng-container>

				<ng-container matColumnDef="mar">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Mar </th>
				</ng-container>

				<ng-container matColumnDef="apr">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Apr </th>
				</ng-container>

				<ng-container matColumnDef="may">
					<th colspan="2" mat-header-cell *matHeaderCellDef> May </th>
				</ng-container>

				<ng-container matColumnDef="june">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Jun </th>
				</ng-container>

				<ng-container matColumnDef="july">
					<th colspan="2" mat-header-cell *matHeaderCellDef> July </th>
				</ng-container>

				<ng-container matColumnDef="aug">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Aug </th>
				</ng-container>

				<ng-container matColumnDef="sep">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Sep </th>
				</ng-container>

				<ng-container matColumnDef="oct">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Oct </th>
				</ng-container>

				<ng-container matColumnDef="nov">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Nov </th>
				</ng-container>

				<ng-container matColumnDef="dec">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Dec </th>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row matRipple class="element-row" [class.expanded]="expandedElement == row" *matRowDef="let row; columns: displayedColumns;"
				 (click)="expandedElement === row? expandedElement = null : expandedElement = row"></tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
			</table>

		</div> -->
	</div>
</div>
