<div class="inner-sidenav-content transition-2" perfectScrollbar>
	<!-- Http Progress Bar -->
	<ng-progress></ng-progress>

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row" fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/list" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Employers</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{companyDetails?._id}}/view" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{companyDetails?.companyname | titlecase}}</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/{{companyid}}/jobs/list" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">Details</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<!-- Company Details -->
	<div fxLayout="row wrap" *ngIf="companyDetails">
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div style="font-size:16px;">
					<span style="font-weight:600;">Company Name</span> :
					<span style="font-style:italic; text-decoration: underline; color: blue; cursor: pointer;" routerLink="/admin/employers/{{companyDetails?._id}}/view">{{companyDetails.companyname
						| titlecase}}</span>
				</div>

				<div style="font-size:16px;">
					<span style="font-weight:600;">Company Code</span> :
					<span style="font-style:italic; text-decoration: underline; color: blue; cursor: pointer;" routerLink="/admin/employers/{{companyDetails?._id}}/view">{{companyDetails.companycode
						| titlecase}}</span>
				</div>
			</mat-card>
		</div>
	</div>

	<!-- Job Details -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="100">
			<mat-card>
				<mat-card-header>
					<img *ngIf="!companyDetails?.companylogo" mat-card-avatar src="assets/img/avatars/logo-placeholder.png" alt="">
					<img *ngIf="companyDetails?.companylogo" mat-card-avatar src="{{imgBaseUrl}}/company/{{companyDetails?.companylogo}}"
					 alt="">
					<mat-card-title>{{jobDetails.jobnumber}}</mat-card-title>
					<mat-card-subtitle style="text-transform: capitalize;">Job Status: {{jobDetails.jobstatus}}</mat-card-subtitle>
					<div fxFlex></div>
					<div *ngIf="jobDetails != ''">
						<button mat-raised-button color="primary" (click)="duplicateJobConfirm(jobDetails.companyid._id, jobDetails._id)">Copy
						</button>
						&nbsp;
					</div>
					<div *ngIf="jobDetails != ''">
						<button mat-raised-button color="primary" routerLink="/admin/employers/{{jobDetails.companyid._id}}/jobs/{{jobDetails._id}}/edit">Edit
						</button>
					</div>
					<div *ngIf="jobDetails.jobstatus == 'pending'">
						<button mat-raised-button color="primary" (click)="activateJob(jobDetails.companyid._id, jobDetails._id)">Activate
							This Job</button>
					</div>
					<div *ngIf="jobDetails.jobstatus == 'closed'">
						&nbsp;
						<button mat-raised-button color="primary" (click)="rePostJob(jobDetails.companyid._id, jobDetails._id)" disabled=true>Repost
							Job</button>
					</div>
					<!-- <div>
												<button mat-raised-button color="primary" (click)="processPayrollGenerate()">Activate This Job</button>
										</div> -->
				</mat-card-header>

				<mat-divider></mat-divider>

				<mat-card-content>
					<!-- Job Basic Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Job Number : </span>
								<span class="value">{{jobDetails.jobnumber}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Project Name : </span>
								<span class="value">{{jobDetails.project}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Job Title : </span>
								<span class="value">{{jobDetails.jobtitle}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Employment Type : </span>
								<span class="value">{{jobDetails.employmenttype}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Department : </span>
								<span class="value">{{jobDetails.department}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Description : </span>
								<span class="value">{{jobDetails.jobdescription}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Job Specialization Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.jobspecialization !== 'others'">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Job Specialization : </span>
								<span class="value">{{jobDetails.project}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.jobspecialization == 'others'">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Job Specialization : </span>
								<span class="value">{{jobDetails.otherjobspecialization}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.workingenvironment">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Working Environment : </span>
								<span class="value">{{jobDetails.workingenvironment}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Work Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Vacancies / Pax Required : </span>
								<span class="value">{{jobDetails.numberofpax - jobDetails.numberofcontracts}} /
									{{jobDetails.numberofpax}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Job period : </span>
								<span class="value">{{jobDetails.jobperiodfrom}} to {{jobDetails.jobperiodto}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Grace Period : </span>
								<span class="value">{{jobDetails.graceperiod}} Mins</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Work Time : </span>
								<span class="value">{{jobDetails.starttime}} to {{jobDetails.endtime}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Work Days Type : </span>
								<span class="value">{{jobDetails.workdaystype}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center" *ngIf="jobDetails.workdays">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Work Days are : </span>
								<span class="value" *ngIf="jobDetails.workdays?.sunday"> {{jobDetails.workdays?.sunday ? 'Sunday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.monday"> {{jobDetails.workdays?.monday ? 'Monday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.tuesday"> {{jobDetails.workdays?.tuesday ? 'Tuesday ,'
									: ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.wednesday"> {{jobDetails.workdays?.wednesday ?
									'Wednesday ,' : ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.thursday"> {{jobDetails.workdays?.thursday ? 'Thursday
									,' : ''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.friday"> {{jobDetails.workdays?.friday ? 'Friday ,' :
									''}} </span>
								<span class="value" *ngIf="jobDetails.workdays?.saturday"> {{jobDetails.workdays?.saturday ? 'Saturday'
									: ''}} </span>
							</p>
							<!-- Break Details -->
							<p fxLayout="row" fxLayoutAlign="start center" *ngFor="let break of jobDetails.breaktime">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">{{break.breakname}} : </span>
								<span class="value">{{break.breakstart}} to {{break.breakend}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Address Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Postal Code : </span>
								<span class="value">{{jobDetails.addresspostalcode}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Block : </span>
								<span class="value">{{jobDetails.addressblock}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Street : </span>
								<span class="value">{{jobDetails.addressstreet}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Unit : </span>
								<span class="value">{{jobDetails.addressunit}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Region : </span>
								<span class="value">{{jobDetails.addressregion}}</span>
							</p>
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Location : </span>
								<span class="value">{{jobDetails.addresslocation}}</span>
							</p>
						</div>
					</div>
					<mat-divider></mat-divider>
					<!-- Salary Details -->
					<div>
						<div class="user-details transition-2" fxFlex="100" fxLayout="column">
							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Charge Rate : </span>
								<span class="value">&#x24;&nbsp;{{jobDetails.chargerate}}</span>
							</p>

							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Markup Rate : </span>
								<span class="value">{{jobDetails.markupratetype == "sgdollar" ?
									'&#x24;&nbsp;':''}}{{jobDetails.markuprate}}{{jobDetails.markupratetype
									== "percentage" ? '%':''}}</span>
							</p>

							<p fxLayout="row" fxLayoutAlign="start center">
								<mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon>
								<span class="key">Jobseeker Salary : </span>
								<span class="value">&#x24;&nbsp;{{jobDetails.salary}}</span>
							</p>
						</div>
					</div>
				</mat-card-content>

				<!-- <mat-card-actions>
										<button mat-button>LIKE</button>
										<button mat-button>SHARE</button>
								</mat-card-actions> -->
			</mat-card>
		</div>

		<!-- <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
			<mat-card class="p-0">
				<div class="bg-lightgray" fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
					<h3 class="user-name">Candidates Applied</h3>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="candidatesApplied?.length > 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						<p *ngFor="let candidate of candidatesApplied; let i=index;">
							<span>{{i+1}}.&nbsp;{{candidate.username}}</span>
						</p>
					</div>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="candidatesApplied?.length == 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						No Candidates Applied
					</div>
				</div>
			</mat-card>
		</div> -->

		<!-- <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
			<mat-card class="p-0">
				<div class="bg-lightgray" fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
					<h3 class="user-name">Candidates Offered</h3>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="candidatesOffered?.length > 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						<p *ngFor="let candidate of candidatesOffered; let i=index;">
							<span>{{i+1}}.&nbsp;{{candidate.username}}</span>
						</p>
					</div>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="candidatesOffered?.length == 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						No Candidates offered
					</div>
				</div>
			</mat-card>
		</div> -->

		<!-- <div class="flex-p" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
			<mat-card class="p-0">
				<div class="bg-lightgray" fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
					<h3 class="user-name">Offers Accepted</h3>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="offersAccepted?.length > 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						<p *ngFor="let candidate of offersAccepted; let i=index;">
							<span>{{i+1}}.&nbsp;{{candidate.username}}</span>
						</p>
					</div>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="offersAccepted?.length == 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						No one Accepting Offers
					</div>
				</div>
			</mat-card>
		</div> -->

		<div class="flex-p" fxFlex="100">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Job Contractors</mat-card-title>
				</mat-card-header>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="jobContractors?.length > 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						<p *ngFor="let contractor of jobContractors; let i=index;">
							<span>{{i+1}}.&nbsp;
								<a style="color:blue; font-weight: bold;" routerLink="/admin/employers/jobs/{{contractor._id}}/contract_details">
									{{contractor.jobseekerid.username}}
								</a>
							</span>
						</p>
					</div>
				</div>

				<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="jobContractors?.length == 0">
					<div class="user-details transition-2" fxFlex="100" fxLayout="row wrap">
						No Contractors
					</div>
				</div>
			</mat-card>
		</div>

		<!-- <button mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>

		<div class="flex-p" style="overflow: overlay; overflow-y: hidden;" #TABLE>
			<table mat-table #table fxFlex="100" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
						 [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>

				<ng-container matColumnDef="jan1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jan1stHalf.unVerified}} </td>
				</ng-container>

				<ng-container matColumnDef="jan2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jan2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="feb1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.feb1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="feb2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.feb2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="mar1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.mar1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="mar2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.mar2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="apr1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.apr1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="apr2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.apr2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="may1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.may1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="may2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.may2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jun1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jun1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jun2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jun2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jul1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jul1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="jul2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.jul2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="aug1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.aug1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="aug2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.aug2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="sep1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.sep1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="sep2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.sep2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="oct1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.oct1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="oct2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.oct2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="nov1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.nov1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="nov2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.nov2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="dec1stHalf">
					<th mat-header-cell *matHeaderCellDef> 1st Half </th>
					<td mat-cell *matCellDef="let element"> {{element.dec1stHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="dec2ndHalf">
					<th mat-header-cell *matHeaderCellDef> 2nd Half </th>
					<td mat-cell *matCellDef="let element"> {{element.dec2ndHalf}} </td>
				</ng-container>

				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
						<div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
							<div class="example-element-diagram">
								<div class="example-element-position"> {{element.position}} </div>
								<div class="example-element-symbol"> {{element.symbol}} </div>
								<div class="example-element-name"> {{element.name}} </div>
								<div class="example-element-weight"> {{element.weight}} </div>
							</div>
							<div class="example-element-description">
								{{element.description}}
								<span class="example-element-description-attribution"> -- Wikipedia </span>
							</div>
						</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="select1">
					<th mat-header-cell *matHeaderCellDef> </th>
				</ng-container>
				<ng-container matColumnDef="name1">
					<th mat-header-cell *matHeaderCellDef> </th>
				</ng-container>

				<ng-container matColumnDef="jan">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Jan </th>
				</ng-container>

				<ng-container matColumnDef="feb">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Feb </th>
				</ng-container>

				<ng-container matColumnDef="mar">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Mar </th>
				</ng-container>

				<ng-container matColumnDef="apr">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Apr </th>
				</ng-container>

				<ng-container matColumnDef="may">
					<th colspan="2" mat-header-cell *matHeaderCellDef> May </th>
				</ng-container>

				<ng-container matColumnDef="june">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Jun </th>
				</ng-container>

				<ng-container matColumnDef="july">
					<th colspan="2" mat-header-cell *matHeaderCellDef> July </th>
				</ng-container>

				<ng-container matColumnDef="aug">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Aug </th>
				</ng-container>

				<ng-container matColumnDef="sep">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Sep </th>
				</ng-container>

				<ng-container matColumnDef="oct">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Oct </th>
				</ng-container>

				<ng-container matColumnDef="nov">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Nov </th>
				</ng-container>

				<ng-container matColumnDef="dec">
					<th colspan="2" mat-header-cell *matHeaderCellDef> Dec </th>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row matRipple class="element-row" [class.expanded]="expandedElement == row" *matRowDef="let row; columns: displayedColumns;"
				 (click)="expandedElement === row? expandedElement = null : expandedElement = row"></tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
			</table>

		</div> -->
	</div>
</div>
