<mat-sidenav-container class="main-container">
	<mat-sidenav-content>
		<div class="h-100 p-15" fxLayout="row" fxLayoutAlign="center center">
			<mat-card class="p-0 box m-y-10" fxFlex="95" fxFlex.gt-sm="40" fxFlex.sm="60">
				<div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
					<a href="{{homePageUrl}}" mat-mini-fab color="accent" style="position: absolute; right:0; top:0;">
						<mat-icon>home</mat-icon>
					</a>
					<a mat-button>
						<img style="height:100%; width: 50%; max-width:400px;" alt="Logo" src="assets/img/logo/ooget.png">
					</a>
				</div>

				<div [ngBusy]="{busy:busy}"></div>

				<form [formGroup]="employerRegForm" (ngSubmit)="onSubmitReg()">
					<mat-card-content class="box-content mat-card-content" fxLayout="column" fxLayoutAlign="end center">
						<mat-card ngClass="box-content-inner no-shadow" fxLayout="row wrap" fxLayoutAlign="center center"
						 [style.fontSize.px]="13">
							<span class="box-content-header f-w-600 m-b-15">Employer Registration</span>
						</mat-card>

						<mat-card fxLayout="row wrap" fxLayoutAlign="center center"
						 [style.fontSize.px]="13" class="m-t-10 p-b-25">

							<!-- Comapny Name -->
							<mat-form-field fxFlex="100" [appearance]="appearance$ | async">
								<mat-label>Company Name</mat-label>
								<input matInput placeholder="Company Name" name="companyname" autocomplete="off" formControlName="companyname"
								 required>
								<mat-error *ngIf="employerRegForm.get('companyname').hasError('required')" align="start">
									Company Name Required
								</mat-error>
							</mat-form-field>

							<!-- Company profile -->
							<mat-form-field fxFlex="100" [appearance]="appearance$ | async">
								<mat-label>Company Profile</mat-label>
								<textarea matInput placeholder="Company Profile" name="profile" autocomplete="off" formControlName="profile"
								 required></textarea>
								<mat-error *ngIf="employerRegForm.get('profile').hasError('required')" align="start">
									Company Profile Required
								</mat-error>
							</mat-form-field>

							<!-- UEN Number -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>UEN Number</mat-label>
								<input matInput placeholder="UEN Number" name="uennumber" autocomplete="off" formControlName="uennumber"
								 required>
								<mat-error *ngIf="employerRegForm.get('uennumber').hasError('required')" align="start">
									UEN Number Required
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('uennumber').hasError('isUENUnique')" align="start">
									This UEN Already Registered
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('uennumber').hasError('pattern')" align="start">
									Invalid UEN Format
								</mat-error>
							</mat-form-field>

							<div fxFlex></div>

							<!-- Country -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>Country</mat-label>
								<input matInput placeholder="Country" name="country" autocomplete="off" formControlName="country" required>
								<mat-error *ngIf="employerRegForm.get('country').hasError('required')" align="start">
									Country Required
								</mat-error>
							</mat-form-field>

							<!-- Industry Type -->
							<mat-form-field fxFlex="100" [appearance]="appearance$ | async">
								<mat-label>Industry</mat-label>
								<mat-select placeholder="Industry" name="industry" formControlName="industry" required>
									<mat-option>Select Industry</mat-option>
									<mat-option *ngFor="let Industry of Industries" [value]="Industry.IndustryName">{{ Industry.IndustryName }}</mat-option>
									<mat-option value="Others">Others</mat-option>
								</mat-select>
								<mat-error *ngIf="employerRegForm.get('industry').hasError('required')" align="start">
									Industry Type Required
								</mat-error>
							</mat-form-field>

							<!-- User Name -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>Your Name</mat-label>
								<input matInput placeholder="Your Name" name="username" autocomplete="off" formControlName="username" required>
								<mat-error *ngIf="employerRegForm.get('username').hasError('required')" align="start">
									Name Required
								</mat-error>
							</mat-form-field>

							<div fxFlex></div>

							<!-- Login Mail -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>Login Email</mat-label>
								<input matInput type="email" placeholder="Login Email" name="email" autocomplete="off" formControlName="email"
								 required>
								<mat-error *ngIf="employerRegForm.get('email').hasError('required')" align="start">
									Email Required
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('email').hasError('pattern')" align="start">
									Invalid Email Format
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('email').hasError('isEmailUnique')" align="start">
									This Email Already Registered
								</mat-error>
							</mat-form-field>

							<!--- Password -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>Password</mat-label>
								<input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" autocomplete="off"
								 formControlName="password" advs-compare="verify" parent='true' required>
								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="employerRegForm.get('password').hasError('required')" align="start">
									Password is Required
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('password').hasError('minlength')" align="start">
									Min 8 chars Required
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('password').hasError('isPatternMatch')" align="start">
									{{passwordPatternError}}
								</mat-error>
							</mat-form-field>

							<div fxFlex></div>

							<!-- Verify Password -->
							<mat-form-field fxFlex="100" fxFlex.gt-sm="47" [appearance]="appearance$ | async">
								<mat-label>Confirm Password</mat-label>
								<input matInput [type]="rehide ? 'password' : 'text'" placeholder="Confirm Password" name="verify" autocomplete="off"
								 formControlName="verify" advs-compare="password" parent='false' required>
								<mat-icon matSuffix (click)="rehide = !rehide">{{rehide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="employerRegForm.get('verify').hasError('required')" align="start">
									Verify Password is required
								</mat-error>
								<mat-error *ngIf="employerRegForm.get('verify').hasError('compare')" align="start">
									Password Mismatch
								</mat-error>
							</mat-form-field>
						</mat-card>

						<button type="submit" mat-raised-button color="primary" ngClass="box-button-mobile" ngClass.gt-xs="box-button">
							REGISTER
						</button>

						<div fxLayout="row wrap" fxLayoutAlign="space-between center" style="margin-top: 10px; width: 100%;">
							<div fxFlex></div>
							<div>
								<a style="color: #696666;" class="f-w-600" mat-button routerLink="/auth/login">Are you Employer ? Click to
									Login</a>
							</div>
						</div>
					</mat-card-content>
				</form>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
