<div class="inner-sidenav-content transition-2">
	<!-- Http Progress Bar -->
	<ng-progress></ng-progress>

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div [ngBusy]="busy"></div>
		<div class="flex-p" fxFlex="100">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/employer/dashboard" fxLayout="row" fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">List of Users</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Data Lists Start -->
	<div class="flex-p" *ngIf="isUserAvailable">
		<mat-card class="table" fxLayout="row wrap">
			<div class="flex-p" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
				<div>
					<a mat-mini-fab color="primary" routerLink="/employer/settings/adduser">
						<mat-icon>add</mat-icon>
					</a>
				</div>

				<div>
					<h3>Users List</h3>
				</div>

				<!-- Search Data and More.. Start -->
				<div>
					<div fxFlex fxLayout="row" fxLayoutAlign="end center">
						<form class="user-search" [ngClass]="tab1search ? 'show' : ''">
							<mat-form-field fxFlex>
								<input matInput name="tab1Filter" [(ngModel)]="tab1Filter" placeholder="Search Users...">
							</mat-form-field>
						</form>

						<button style="color: darkgray;" mat-icon-button fxLayoutAlign="center end" (click)="tab1search=!tab1search">
							<mat-icon>search</mat-icon>
						</button>
					</div>
				</div>
				<!-- Search Data and More.. End -->
			</div>

			<table fxFlex="100">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users_list | filter:tab1Filter | paginate: tab1PaginateConfig; let i=index;">
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
						<td>
							{{user.roleid.rolename == "superemployer" ? "Super Admin" : user.roleid.rolename == "normalemployer" ? "Admin" :
							user.roleid.rolename == "verifier" ? "Verifier" : user.roleid.rolename}}
						</td>
						<td>
							<span *ngIf="user.roleid.rolename != 'superemployer'">
								<a mat-icon-button color="primary" routerLink="/employer/settings/edituser/{{user._id}}">
									<mat-icon>border_color</mat-icon>
								</a>
								<button mat-icon-button color="warn" (click)="deleteUser(user._id)">
									<mat-icon aria-label="Delete">delete</mat-icon>
								</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>
	<!-- Data Lists End -->

	<!-- Pagination Start -->
	<div fxLayout="row wrap" *ngIf="isUserAvailable">
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-0 mat-paginator">
				<div class="mat-paginator-container">
					<div class="mat-paginator-page-size">
						<div class="mat-paginator-page-size-label">
							Items per page:
						</div>
						<mat-form-field class="mat-paginator-page-size-select mat-form-field-hide-placeholder">
							<mat-select placeholder="" [(ngModel)]="tab1PaginateConfig.itemsPerPage" name="itemsPerPage">
								<mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
									{{pageSizeOption}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="mat-paginator-range-actions">
						<pagination-controls class="ooget-pagination" [id]="tab1PaginateConfig.id" [maxSize]="tab1PaginateControlMaxSize"
						 [autoHide]="tab1PaginateControlAutoHide" (pageChange)="tab1PaginateConfig.currentPage = $event"></pagination-controls>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Pagination End -->

	<div *ngIf="!isUserAvailable" fxLayout="column" fxLayoutAlign="center center" style="height:50%;">
		<p>No Users Found.</p>
	</div>

</div>
