<div id="container">

	<section id="memo">
		<div class="logo">
			<span class="ib_drop_zone" title="Drop image or click to upload your logo (max 2MB).<br>For better print resolution use larger image,<br>as it's automatically scaled down."
			 style="width: 0px; height: 0px;">
				<span>Drop your logo here<br>
					<span>(0 x 0px)</span><input type="file" accept="image/*" class="ib_drop_logo">
				</span>
			</span><img data-logo="company_logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
			 style="display: none;">
			<div class="ib_remove_logo_overlay">
				<span class="ib_remove_logo" title="Remove logo"><i class="fa fa-times-circle"></i></span>
			</div>
		</div>

		<div class="company-info">
			<span data-ibcl-id="company_name" class="ibcl_company_name" data-tooltip="tooltip" data-placement="top" title="Enter your company name"
			 contenteditable="true">Dino Store</span>

			<div class="separator less"></div>

			<span data-ibcl-id="company_address" class="ibcl_company_address" data-tooltip="tooltip" data-placement="top" title="Enter company's address"
			 contenteditable="true">227 Cobblestone Road</span>
			<span data-ibcl-id="company_city_zip_state" class="ibcl_company_city_zip_state" data-tooltip="tooltip"
			 data-placement="top" title="Enter company's zip, city and country" contenteditable="true">30000 Bedrock,
				Cobblestone County</span>

			<br>

			<span data-ibcl-id="company_email_web" class="ibcl_company_email_web" data-tooltip="tooltip" data-placement="top"
			 title="Enter company's web and email address" contenteditable="true">http://dinostore.bed | hello@dinostore.bed</span>
			<span data-ibcl-id="company_phone_fax" class="ibcl_company_phone_fax" data-tooltip="tooltip" data-placement="top"
			 title="Enter company's contact phones" contenteditable="true">+555 7 789-1234</span>
		</div>
	</section>

	<section id="invoice-title-number">

		<span id="title" data-ibcl-id="invoice_title" class="ibcl_invoice_title" data-tooltip="tooltip" data-placement="top"
		 title="Enter invoice title" contenteditable="true">INVOICE</span>
		<div class="separator"></div>
		<span id="number" data-ibcl-id="invoice_number" class="ibcl_invoice_number" data-tooltip="tooltip" data-placement="top"
		 title="" data-original-title="Enter invoice number" contenteditable="true">#1</span>

	</section>

	<div class="clearfix"></div>

	<section id="invoice-info">
		<div>
			<span data-ibcl-id="issue_date_label" class="ibcl_issue_date_label" data-tooltip="tooltip" data-placement="top"
			 title="Enter issue date label" contenteditable="true">Issue Date:</span>
			<span data-ibcl-id="due_date_label" class="ibcl_due_date_label" data-tooltip="tooltip" data-placement="top" title="Enter invoice due date label"
			 contenteditable="true">Due Date:</span>
			<span data-ibcl-id="net_term_label" class="ibcl_net_term_label" data-tooltip="tooltip" data-placement="top" title="Enter net days label"
			 contenteditable="true">Net:</span>
			<span data-ibcl-id="currency_label" class="ibcl_currency_label" data-tooltip="tooltip" data-placement="top" title=""
			 data-original-title="Enter invoice currency label" contenteditable="true">Currency:</span>
			<span data-ibcl-id="po_number_label" class="ibcl_po_number_label" data-tooltip="tooltip" data-placement="top" title="Enter P.O. label"
			 contenteditable="true">P.O. #</span>
		</div>

		<div>
			<span data-ibcl-id="issue_date" class="ibcl_issue_date" data-tooltip="tooltip" data-placement="top" title="Select invoice issue date"
			 data-date="01/21/2019">01/21/2019</span>
			<span data-ibcl-id="due_date" class="ibcl_due_date" data-tooltip="tooltip" data-placement="top" title="Select invoice due date"
			 data-date="02/11/2019">02/11/2019</span>
			<span data-ibcl-id="net_term" class="ibcl_net_term" data-tooltip="tooltip" data-placement="top" title="Enter invoice net days"
			 contenteditable="true">21</span>
			<span data-ibcl-id="currency" class="ibcl_currency" data-tooltip="tooltip" data-placement="top" title="Enter invoice currency"
			 contenteditable="true">USD</span>
			<span data-ibcl-id="po_number" class="ibcl_po_number" data-tooltip="tooltip" data-placement="top" title="Enter P.O. Number"
			 contenteditable="true">1/3-147</span>
		</div>
	</section>

	<section id="client-info">
		<span data-ibcl-id="bill_to_label" class="ibcl_bill_to_label" data-tooltip="tooltip" data-placement="top" title="Enter bill to label"
		 contenteditable="true">Bill to:</span>
		<div>
			<span class="client-name ibcl_client_name" data-ibcl-id="client_name" data-tooltip="tooltip" data-placement="top"
			 title="Enter client name" contenteditable="true">Slate Rock and Gravel Company</span>
		</div>

		<div>
			<span data-ibcl-id="client_address" class="ibcl_client_address" data-tooltip="tooltip" data-placement="top" title="Enter client address"
			 contenteditable="true">222 Rocky Way</span>
		</div>

		<div>
			<span data-ibcl-id="client_city_zip_state" class="ibcl_client_city_zip_state" data-tooltip="tooltip" data-placement="top"
			 title="Enter client city, zip, country" contenteditable="true">30000 Bedrock, Cobblestone County</span>
		</div>

		<div>
			<span data-ibcl-id="client_phone_fax" class="ibcl_client_phone_fax" data-tooltip="tooltip" data-placement="top"
			 title="Enter client pnone &amp; fax" contenteditable="true">+555 7 123-5555</span>
		</div>

		<div>
			<span data-ibcl-id="client_email" class="ibcl_client_email" data-tooltip="tooltip" data-placement="top" title="Enter client email"
			 contenteditable="true">fred@slaterockgravel.bed</span>
		</div>

		<div>
			<span data-ibcl-id="client_other" class="ibcl_client_other" data-tooltip="tooltip" data-placement="top" title="Enter other client info"
			 contenteditable="true">Attn: Fred Flintstone</span>
		</div>
	</section>

	<div class="clearfix"></div>

	<section id="items">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th data-ibcl-id="item_row_number_label" class="ibcl_item_row_number_label" data-tooltip="tooltip" data-placement="top"
					 title="" data-original-title=""></th> <!-- Dummy cell for the row number and row commands -->
					<th data-ibcl-id="item_description_label" class="ibcl_item_description_label" data-tooltip="tooltip"
					 data-placement="top" title="Enter item header" contenteditable="true">Item</th>
					<th data-ibcl-id="item_quantity_label" class="ibcl_item_quantity_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter quantity header" contenteditable="true">Quantity</th>
					<th data-ibcl-id="item_price_label" class="ibcl_item_price_label" data-tooltip="tooltip" data-placement="top"
					 title="" data-original-title="Enter price header" contenteditable="true">Price</th>
					<th data-ibcl-id="item_discount_label" class="ibcl_item_discount_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter discount header" contenteditable="true">Discount</th>
					<th data-ibcl-id="item_tax_label" class="ibcl_item_tax_label" data-tooltip="tooltip" data-placement="top" title="Enter tax header"
					 contenteditable="true">Tax</th>
					<th data-ibcl-id="item_line_total_label" class="ibcl_item_line_total_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter line total header" contenteditable="true">Linetotal</th>
				</tr>

				<tr data-iterate="item">
					<td data-ibcl-id="item_row_number" class="ibcl_item_row_number" data-tooltip="tooltip" data-placement="top" title=""
					 style="position: relative;">
						<span class="ib_row_commands" style="height:0px;">
							<span class="ib_commands" style="display: none;">
								<span class="ib_add" title="Insert row"><i class="fa fa-plus"></i></span>
								<span class="ib_delete" title="Remove row"><i class="fa fa-minus"></i></span>
								<span class="ib_move" title="Drag to reorder" style="cursor: move;"><i class="fa fa-sort"></i></span>
							</span>
						</span>
						<span data-row-number="item_row_number">1</span>
					</td> <!-- Don't remove this column as it's needed for the row commands -->
					<td><span class="show-mobile ibcl_item_description_label" data-ibcl-id="item_description_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter item header" contenteditable="true">Item</span> <span data-ibcl-id="item_description"
						 class="ibcl_item_description" data-tooltip="tooltip" data-placement="top" title="Enter item description"
						 contenteditable="true">Frozen Brontosaurus Ribs</span></td>
					<td><span class="show-mobile ibcl_item_quantity_label" data-ibcl-id="item_quantity_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter quantity header" contenteditable="true">Quantity</span> <span data-ibcl-id="item_quantity"
						 class="ibcl_item_quantity" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Enter quantity"
						 contenteditable="true">2</span></td>
					<td><span class="show-mobile ibcl_item_price_label" data-ibcl-id="item_price_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter price header" contenteditable="true">Price</span> <span data-ibcl-id="item_price"
						 class="ibcl_item_price add_currency_left" data-tooltip="tooltip" data-placement="top" title="" data-currency="$"
						 data-original-title="Enter price" contenteditable="true">120</span></td>
					<td><span class="show-mobile ibcl_item_discount_label" data-ibcl-id="item_discount_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter discount header" contenteditable="true">Discount</span> <span data-ibcl-id="item_discount"
						 class="ibcl_item_discount" data-tooltip="tooltip" data-placement="top" title="Enter discount" contenteditable="true"></span></td>
					<td><span class="show-mobile ibcl_item_tax_label" data-ibcl-id="item_tax_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter tax header" contenteditable="true">Tax</span> <span data-ibcl-id="item_tax"
						 class="ibcl_item_tax ib_item_percentage" data-tooltip="tooltip" data-placement="top" title="Enter tax"
						 contenteditable="true">2</span></td>
					<td><span class="show-mobile ibcl_item_line_total_label" data-ibcl-id="item_line_total_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter line total header" contenteditable="true">Linetotal</span> <span data-ibcl-id="item_line_total"
						 class="ibcl_item_line_total" data-tooltip="tooltip" data-placement="top" title=""></span></td>
				</tr>

				<tr data-iterate="item">
					<td data-ibcl-id="item_row_number" class="ibcl_item_row_number" data-tooltip="tooltip" data-placement="top" title=""
					 style="position: relative;" data-original-title="">
						<span class="ib_row_commands" style="height:0px;">
							<span class="ib_commands" style="display: none;">
								<span class="ib_add" title="Insert row"><i class="fa fa-plus"></i></span>
								<span class="ib_delete" title="Remove row"><i class="fa fa-minus"></i></span>
								<span class="ib_move" title="Drag to reorder" style="cursor: move;"><i class="fa fa-sort"></i></span>
							</span>
						</span>
						<span data-row-number="item_row_number">2</span>
					</td> <!-- Don't remove this column as it's needed for the row commands -->
					<td><span class="show-mobile ibcl_item_description_label" data-ibcl-id="item_description_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter item header" contenteditable="true">Item</span> <span data-ibcl-id="item_description"
						 class="ibcl_item_description" data-tooltip="tooltip" data-placement="top" title="Enter item description"
						 contenteditable="true">Mammoth Chops</span></td>
					<td><span class="show-mobile ibcl_item_quantity_label" data-ibcl-id="item_quantity_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter quantity header" contenteditable="true">Quantity</span> <span data-ibcl-id="item_quantity"
						 class="ibcl_item_quantity" data-tooltip="tooltip" data-placement="top" title="Enter quantity" contenteditable="true">14</span></td>
					<td><span class="show-mobile ibcl_item_price_label" data-ibcl-id="item_price_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter price header" contenteditable="true">Price</span> <span data-ibcl-id="item_price"
						 class="ibcl_item_price add_currency_left" data-tooltip="tooltip" data-placement="top" title="" data-currency="$"
						 data-original-title="Enter price" contenteditable="true">175</span></td>
					<td><span class="show-mobile ibcl_item_discount_label" data-ibcl-id="item_discount_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter discount header" contenteditable="true">Discount</span> <span data-ibcl-id="item_discount"
						 class="ibcl_item_discount ib_item_percentage" data-tooltip="tooltip" data-placement="top" title="Enter discount"
						 contenteditable="true">-10</span></td>
					<td><span class="show-mobile ibcl_item_tax_label" data-ibcl-id="item_tax_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter tax header" contenteditable="true">Tax</span> <span data-ibcl-id="item_tax"
						 class="ibcl_item_tax ib_item_percentage" data-tooltip="tooltip" data-placement="top" title="Enter tax"
						 contenteditable="true">5</span></td>
					<td><span class="show-mobile ibcl_item_line_total_label" data-ibcl-id="item_line_total_label" data-tooltip="tooltip"
						 data-placement="top" title="Enter line total header" contenteditable="true">Linetotal</span> <span data-ibcl-id="item_line_total"
						 class="ibcl_item_line_total" data-tooltip="tooltip" data-placement="top" title=""></span></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section id="sums">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th data-ibcl-id="amount_subtotal_label" class="ibcl_amount_subtotal_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter subtotal label" contenteditable="true">Subtotal:</th>
					<td data-ibcl-id="amount_subtotal" class="ibcl_amount_subtotal" data-tooltip="tooltip" data-placement="top" title="">$0.00</td>
				</tr>

				<tr data-iterate="tax" style="display: none;">
					<th data-ibcl-id="tax_name" class="ibcl_tax_name" data-tooltip="tooltip" data-placement="top" title="Enter tax label"
					 contenteditable="true">Tax:</th>
					<td data-ibcl-id="tax_value" class="ibcl_tax_value" data-tooltip="tooltip" data-placement="top" title=""></td>
				</tr>

				<tr class="amount-total">
					<th data-ibcl-id="amount_total_label" class="ibcl_amount_total_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter total label" contenteditable="true">Total:</th>
					<td data-ibcl-id="amount_total" class="ibcl_amount_total" data-tooltip="tooltip" data-placement="top" title="">$0.00</td>
				</tr>

				<!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
               For example Invoicebus doesn't need amount paid and amount due on quotes  -->
				<tr data-hide-on-quote="true">
					<th data-ibcl-id="amount_paid_label" class="ibcl_amount_paid_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter amount paid label" contenteditable="true">Paid:</th>
					<td data-ibcl-id="amount_paid" class="ibcl_amount_paid add_currency_left" data-tooltip="tooltip" data-placement="top"
					 title="Enter amount paid" data-currency="$" contenteditable="true">0.00</td>
				</tr>

				<tr data-hide-on-quote="true">
					<th data-ibcl-id="amount_due_label" class="ibcl_amount_due_label" data-tooltip="tooltip" data-placement="top"
					 title="Enter amount due label" contenteditable="true">Amount Due:</th>
					<td data-ibcl-id="amount_due" class="ibcl_amount_due" data-tooltip="tooltip" data-placement="top" title="">$0.00</td>
				</tr>

			</tbody>
		</table>

	</section>

	<div class="clearfix"></div>
</div>

<!-- <script src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/generator.min.js?data=true"></script> -->
<!-- <script type="text/javascript" src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/jquery.min.js"></script> -->
<!-- <script src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/lang/en.txt"></script> -->
<!-- <script src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/docs/raw-data/raw-data-en.js"></script> -->

<!--
<script type="text/javascript" src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/bootstrap.min.js"></script> -->
<!-- <script src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/docs/save-state/save-state-en.js"></script> -->
<!-- <script src="https://1dd265088a6cef288739-152492db8df9591a73e16991ac6a30fb.ssl.cf2.rackcdn.com/generator/docs/how-to/how-to-en.js"></script> -->
