.authmsg {
    color: red;
}

.box .box-header {
    height: 186px
}

.box .box-content {
    position: relative;
    height: 205px
}

.box .box-content .box-content-inner {
    position: absolute;
    top: -34px;
    left: 34px;
    right: 34px;
    height: 160px
}

.box .box-content .box-content-inner-mobile {
    position: absolute;
    top: -34px;
    left: 7px;
    right: 7px;
    height: 160px
}

.box.register .box-content,
.box.register .box-content .box-content-inner {
    height: 300px
}

.box .box-content .box-content-header {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500
}

.box .box-content .box-content-header.server-error {
    margin-bottom: 36px
}

.box .box-content .box-text {
    margin-bottom: 10px
}

.box .box-content .box-text::last-child {
    margin-bottom: 15px
}

.box .box-content .box-button {
    bottom: 16px;
    width: 40%;
    border-radius: 20px;
    overflow: hidden
}

.box .box-content .box-button-mobile {
    bottom: 16px;
    width: 70%;
    border-radius: 20px;
    overflow: hidden
}

.box .box-header .mat-fab {
    margin-bottom: 8px
}

.box .box-header .error {
    font-size: 46px
}

.mat-card-content {
    margin-bottom: 0;
}

.mat-drawer-container {
    height: auto !important;
}
