<!-- <div style="margin-top:100px;">
    <mat-accordion>
        <mat-expansion-panel class="no-shadow" expanded=true>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>arrow_right_alt</mat-icon>
                    <span class="paneltitle">About</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/main/dashboard" routerLinkActive="active-link">
                    About
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/prefs">
                    Preferences
                </a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel class="no-shadow">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>code</mat-icon>
                    <span class="paneltitle">Preferences</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-divider></mat-divider>
                <a mat-list-item href="/about">
                    About
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/prefs">
                    Preferences
                </a>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
    </mat-accordion>
</div> -->