.no-shadow {
    box-shadow: none !important
}

.mat-expansion-panel-body {
    margin-top: 0 !important;
    padding: 0 !important;
    color: #990000
}

.mat-expansion-panel {
    margin-top: 0 !important
}

.mat-nav-list {
    padding: 0 !important;
    text-indent: 36px
}

.mat-panel-title {
    flex-basis: 0
}

.mat-panel-description {
    flex-basis: 100%
}

.paneltitle {
    padding-top: 3px;
    text-indent: 5px
}