<mat-sidenav-container>
	<mat-sidenav-content>
		<div class="h-100" fxLayout="row" fxLayoutAlign="center center">
			<mat-card class="p-0 box m-y-10" fxFlex="95" fxFlex.gt-sm="30" fxFlex.sm="60">
				<div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
					<a href="{{homePageUrl}}" mat-mini-fab color="accent" style="position: absolute; right:0; top:0;">
						<mat-icon>home</mat-icon>
					</a>
					<a mat-button>
						<img style="height:100%; width: 50%;" alt="Logo" src="assets/img/logo/ooget.png">
					</a>
				</div>

				<div [ngBusy]="{busy:busy}"></div>

				<form [formGroup]="employerPassResetForm" (ngSubmit)="onResetPassword()"
					[ngClass]="{'error' : isAuthMsg}" class="error">
					<mat-card-content class="box-content mat-card-content" fxLayout="column" fxLayoutAlign="end center">
						<mat-card ngClass="box-content-inner-mobile" ngClass.gt-xs="box-content-inner" fxLayout="column"
							fxLayoutAlign="center center" [style.fontSize.px]="13">
							<span class="box-content-header f-w-600" style="font-size: 16px;margin-bottom: 10px;">Forgot
								Password ?</span>

							<mat-form-field class="w-100" [appearance]="appearance$ | async">
								<mat-label>Email</mat-label>
								<input disabled='true' matInput type="email" placeholder="Email" formControlName="email" required
									readonly>
								<mat-error *ngIf="employerPassResetForm.get('email').hasError('required')"
									align="start">
									Email Required
								</mat-error>
								<mat-error *ngIf="employerPassResetForm.get('email').hasError('pattern')"
									align="start">
									Invalid Email Format
								</mat-error>
							</mat-form-field>

							<!--- Password -->
							<mat-form-field class="w-100" [appearance]="appearance$ | async">
								<mat-label>Password</mat-label>
								<input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
									name="password" autocomplete="off" formControlName="password" advs-compare="verify"
									parent='true' required>
								<mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">
									{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="employerPassResetForm.get('password').hasError('required')"
									align="start">
									Password is Required
								</mat-error>
								<mat-error *ngIf="employerPassResetForm.get('password').hasError('minlength')"
									align="start">
									Min 8 chars Required
								</mat-error>
								<mat-error *ngIf="employerPassResetForm.get('password').hasError('isPatternMatch')"
									align="start">
									{{passwordPatternError}}
								</mat-error>
							</mat-form-field>

							<!-- Verify Password -->
							<mat-form-field class="w-100" [appearance]="appearance$ | async">
								<mat-label>Confirm Password</mat-label>
								<input matInput [type]="rehide ? 'password' : 'text'" placeholder="Confirm Password"
									name="verify" autocomplete="off" formControlName="verify" advs-compare="password"
									parent='false' required>
								<mat-icon matSuffix style="cursor: pointer;" (click)="rehide = !rehide">
									{{rehide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="employerPassResetForm.get('verify').hasError('required')"
									align="start">
									Verify Password is required
								</mat-error>
								<mat-error *ngIf="employerPassResetForm.get('verify').hasError('compare')"
									align="start">
									Password Mismatch
								</mat-error>
							</mat-form-field>
						</mat-card>

						<button type="submit" mat-raised-button color="primary" class="box-button">
							Submit
						</button>
					</mat-card-content>
				</form>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
