<div [ngBusy]="{busy:busy}"></div>
<div class="inner-sidenav-content transition-2">

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/main/dashboard" fxLayout="row" fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">FAQ</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div class="flex-p">
		<mat-toolbar color="primary">{{title}}</mat-toolbar>
		<mat-accordion *ngIf="faqList.length > 0" [displayMode]="displayMode" [multi]="multi">
			<mat-expansion-panel *ngFor="let faqItem of faqList">
				<mat-expansion-panel-header>
					<span style="font-weight: bold;">{{faqItem.faqquestion}}</span>
				</mat-expansion-panel-header>
				<p>{{faqItem.faqanswer}}</p>
			</mat-expansion-panel>
		</mat-accordion>

		<div *ngIf="faqList.length == 0">
			<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
				<h1 style="color: #bbbbbb; text-transform: uppercase; text-align: center;">
					No FAQ Found
				</h1>
			</div>
		</div>
	</div>
</div>
