<mat-sidenav-container>
	<mat-sidenav-content>
		<div class="h-100" fxLayout="row" fxLayoutAlign="center center">
			<mat-card class="p-0 box" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60">
				<div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
					<a routerLink="/" mat-mini-fab color="accent" style="position: absolute; right:0; top:0;">
						<mat-icon>home</mat-icon>
					</a>
					<a mat-button>
						<img style="height:50%; width: 50%;" alt="Logo" src="assets/img/logo/ooget.png">
					</a>
				</div>

				<div [ngBusy]="{busy:busy}"></div>

				<form [formGroup]="jobseekerPassResetForm" (ngSubmit)="onResetPassword()">
					<mat-card-content class="box-content mat-card-content" fxLayout="column" fxLayoutAlign="end center">
						<mat-card class="box-content-inner" fxLayout="column" fxLayoutAlign="center center" [style.fontSize.px]="13">
							<span class="box-content-header">Forgot Password ?</span>

							<mat-form-field class="w-100">
								<input matInput type="email" placeholder="Email" formControlName="email" required readonly>
								<mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('required')" align="start">
									Email Required
								</mat-error>
								<mat-error *ngIf="jobseekerPassResetForm.get('email').hasError('pattern')" align="start">
									Invalid Email Format
								</mat-error>
							</mat-form-field>

							<!--- Password -->
							<mat-form-field class="w-100">
								<input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" autocomplete="off" formControlName="password"
								 advs-compare="verify" parent='true' required>
								<mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="jobseekerPassResetForm.get('password').hasError('required')" align="start">
									Password is Required
								</mat-error>
								<mat-error *ngIf="jobseekerPassResetForm.get('password').hasError('minlength')" align="start">
									Min 3 chars Required
								</mat-error>
							</mat-form-field>

							<!-- Verify Password -->
							<mat-form-field class="w-100">
								<input matInput [type]="rehide ? 'password' : 'text'" placeholder="Confirm Password" name="verify" autocomplete="off" formControlName="verify"
								 advs-compare="password" parent='false' required>
								<mat-icon matSuffix style="cursor: pointer;" (click)="rehide = !rehide">{{rehide ? 'visibility_off' : 'visibility'}}</mat-icon>
								<mat-error *ngIf="jobseekerPassResetForm.get('verify').hasError('required')" align="start">
									Verify Password is required
								</mat-error>
								<mat-error *ngIf="jobseekerPassResetForm.get('verify').hasError('compare')" align="start">
									Password Mismatch
								</mat-error>
							</mat-form-field>
						</mat-card>

						<button type="submit" mat-raised-button color="primary" class="box-button">
							Submit
						</button>
					</mat-card-content>
				</form>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>