@import "../../../../variables.scss";
.inner-sidenav-content {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    min-height: calc(100% - 80px);
    overflow: auto;
}
