<div class="inner-sidenav-content transition-2">
	<!-- Http Progress Bar -->
	<ng-progress></ng-progress>

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/admin/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/admin/employers/list" fxLayout="row"
					fxLayoutAlign="center center">
					<span class="breadcrumb-title">Employers</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">{{employerDetails.companyname}}</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- <div [ngBusy]="{busy: busy, minDuration: 600000}"></div> -->

	<div fxLayout="row wrap" class="employer-details">
		<div [ngBusy]="{busy:busy}"></div>
		<!-- <div [ngBusy]="{busy: busy, minDuration: 600000}"></div> -->
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
				<div>
					<button mat-mini-fab color="primary" matTooltip="Add New Job" matTooltipPosition="right"
						style="border-radius: 0" routerLink="/admin/employers/{{employerDetails.id}}/jobs/add">
						<mat-icon>playlist_add</mat-icon>
					</button>
					&nbsp;
					<button mat-mini-fab color="primary" matTooltip="Edit Company" matTooltipPosition="right"
						style="border-radius: 0" routerLink="/admin/employers/{{employerDetails.id}}/edit">
						<mat-icon>edit</mat-icon>
					</button>
				</div>

				<h3>Company Details</h3>

				<div>
					<button mat-mini-fab color="primary" matTooltip="Supervisors" matTooltipPosition="left"
						style="border-radius: 0" routerLink="/admin/employers/{{employerDetails.id}}/users">
						<mat-icon>supervised_user_circle</mat-icon>
					</button>
					&nbsp;
					<button mat-mini-fab color="primary" matTooltip="View Jobs" matTooltipPosition="left"
						style="border-radius: 0" routerLink="/admin/employers/{{employerDetails.id}}/jobs/list">
						<mat-icon>list</mat-icon>
					</button>
				</div>
			</mat-card>

			<mat-card class="p-10 mt-1" fxLayout="row wrap">
				<!-- <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="processPayrollGenerate()">Generate Payroll</button>
                </div> -->
				<mat-list>
					<mat-list-item>
						<span class="title">Company Name : </span>{{employerDetails.name}}
					</mat-list-item>

					<mat-divider></mat-divider>

					<mat-list-item>
						<span class="title">Country : </span>{{employerDetails.country}}
					</mat-list-item>

					<mat-divider></mat-divider>

					<mat-list-item>
						<span class="title">Industry : </span>{{employerDetails.industryname}}
					</mat-list-item>

					<mat-divider></mat-divider>

					<mat-list-item>
						<span class="title">Profile : </span>{{employerDetails.profile}}
					</mat-list-item>

					<mat-divider></mat-divider>

					<mat-list-item>
						<span class="title">UEN Number : </span>{{employerDetails.uen}}
					</mat-list-item>

					<mat-divider></mat-divider>

					<mat-list-item *ngIf="employerDetails.companycode">
						<span class="title">Company Code : </span>{{employerDetails.companycode}}
					</mat-list-item>

					<mat-list-item *ngIf="!employerDetails.companycode" class="dynamic-height">
						<span class="title" style="white-space: nowrap;">Company Code : </span>
						<button *ngIf="!companyCodeGenerator" mat-button
							style="background-color: green; color: #ffffff;" class="text-wrap"
							(click)="toggleCompanyCodeGenerator()">
							<span class="text-wrap">Click here to Create Company Code</span>
						</button>

						<div *ngIf="companyCodeGenerator" class="flex-p dynamic-height" style="width: 100%;">
							<div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="start center"
								fxLayoutGap="10px">
								<form fxLayout="row wrap" [formGroup]="companyCodeForm"
									(ngSubmit)="updateCompanyCode()">
									<mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="40">
										<mat-label>Employer Company Code</mat-label>
										<input matInput placeholder="Employer Company Code" autocomplete="off"
											formControlName="companycode" minlength="7" maxlength="7" required>
										<mat-hint *ngIf="companyCodeForm.get('companycode').hasError('required')">
											Employer Code Required
										</mat-hint>
										<mat-hint *ngIf="companyCodeForm.get('companycode').hasError('minlength')">
											Minimum &amp; Maximum 7 characters Must
										</mat-hint>
										<mat-hint *ngIf="companyCodeForm.get('companycode').hasError('maxlength')">
											Maximum 7 characters only Allowed
										</mat-hint>
										<mat-error
											*ngIf="companyCodeForm.get('companycode').hasError('isCompanycodeUnique')"
											align="start">
											This Company Code Already Registered
										</mat-error>
									</mat-form-field>

									<button mat-stroked-button color="primary" type="submit"
										[disabled]="!companyCodeForm.valid">Submit
										Code</button>
									<button mat-stroked-button color="primary"
										(click)="toggleCompanyCodeGenerator()">Close</button>
								</form>
							</div>
						</div>
					</mat-list-item>

					<!-- <mat-list-item *ngIf="companyCodeGenerator" id="CodeGenerator" class="flex-p dynamic-height" style="width: 100%;">
                        <div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex="80" fxFlex.gt-sm="50">
                                <mat-label>Employer Company Code</mat-label>
                                <input matInput placeholder="Employer Company Code" autocomplete="off" #companycode="ngModel" minlength="7" maxlength="7"
                                    [(ngModel)]="companyCodes.companycode" required>
                                <mat-hint *ngIf="companycode?.errors?.required" [hidden]="companycode.valid || companycode.pristine">
                                    Employer Code Required
                                </mat-hint>
                                <mat-hint *ngIf="companycode?.errors?.minlength">
                                    Minimum &amp; Maximum 7 characters Must
                                </mat-hint>
                                <mat-hint *ngIf="companycode?.errors?.maxlength">
                                    Maximum 7 characters only Allowed
                                </mat-hint>
                            </mat-form-field>
                            <button mat-stroked-button color="primary" [disabled]="!companycode.valid" (click)="updateCompanyCode()">Submit Code</button>
                        </div>
                    </mat-list-item> -->

					<mat-divider></mat-divider>

					<mat-list-item class="dynamic-height">
						<span class="title" style="white-space: nowrap;">Terms &amp; Conditions : </span>

						<div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
							<span *ngIf="employerDetails.TermsConditions_file"
								style="margin-right: 15px; text-align: center;">
								<a class="text-wrap"
									href="{{baseUrl}}/{{employerDetails.TermsConditions_file}}" target="_blank"
									style="color: blue; font-weight: bold; font-size: 16px;">Click
									here</a> to Download Terms and Conditions</span>

							<input hidden type="file" #docFileInput name="termsDoc" (change)="getDoc($event)" />

							<div *ngIf="showUpload">
								<div fxFlex fxLayout="row" fxlayoutAlign="center"
									class="td-file-upload text-wrap text-center"
									style="background-color:#1c3e8e; color:#ffffff; border-radius:4px; padding:8px; cursor:pointer;"
									mat-raised-button color="primary" (click)="docFileInput.click()">
									<mat-icon fxFlexAlign="center">attach_file</mat-icon>
									<span>Upload New (or) Modified Terms &amp; Conditions Document</span>
								</div>
							</div>

							<div *ngIf="uploaded">
								<button type="button" class="td-file-upload" mat-raised-button color="accent">
									<mat-icon>file_upload</mat-icon>{{docName}}
								</button>

								<button type="button" class="td-file-upload-cancel" mat-icon-button color="warn"
									(click)="removeDoc()">
									<mat-icon>cancel</mat-icon>
								</button>

								<button mat-raised-button color="primary" (click)="uploadDoc()">Upload</button>
							</div>
						</div>
					</mat-list-item>
				</mat-list>
			</mat-card>
		</div>
	</div>
</div>
