<div class="inner-sidenav-content transition-2" perfectScrollbar>
	<!-- Http Progress Bar -->

	<!-- Breadcrumb Start -->
	<div fxLayout="row wrap">
		<div class="flex-p" fxFlex="1 1 100%">
			<mat-card class="mat-breadcrumb" fxLayout="row">
				<a class="breadcrumb-item" routerLink="/employer/dashboard" fxLayout="row"
					fxLayoutAlign="flex-start center">
					<mat-icon>home</mat-icon>
					<span class="breadcrumb-title">Home</span>
				</a>

				<a class="breadcrumb-item" routerLink="/employer/jobs/list"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">Jobs</span>
				</a>

				<a class="breadcrumb-item"
					routerLink="/employer/jobs/{{contractorJobDetails?.job_id}}/view"
					fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title">{{contractorJobDetails?.job_name | trim }}</span>
				</a>

				<div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="center center">
					<span class="breadcrumb-title active">{{contractorJobDetails?.jobseeker_name | trim }}
						(Contractor)</span>
				</div>
			</mat-card>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div [ngBusy]="{busy:busy}"></div>

	<div fxLayout="row wrap">

		<!-- Contract Details -->
		<div class="flex-p" fxFlex="100">
			<mat-card class="p-10" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="user-details transition-2" style="padding: 0" fxFlex fxLayout="column">
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Name : </span>
						<span class="value">{{contractorJobDetails?.jobseeker_name}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor EMail : </span>
						<span class="value">{{contractorJobDetails?.jobseeker_email}}</span>
					</p>
					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Contractor Mobile : </span>
						<span class="value">{{contractorJobDetails?.jobseeker_phone}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Job Period : </span>
						<span class="value">{{contractorJobDetails?.job_start_date | date:'dd/MM/yyyy'}} -
							{{contractorJobDetails?.job_end_date | date:'dd/MM/yyyy'}}
						</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Working Time : </span>
						<span class="value">{{contractorJobDetails?.job_start_time}} -
							{{contractorJobDetails?.job_end_time}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Grace Period : </span>
						<span class="value">{{contractorJobDetails?.grace_period}} Mins</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center">
						<!-- <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">check_circle</mat-icon> -->
						<span class="key">Jobseeker Salary : </span>
						<span class="value">S$ {{contractorJobDetails?.jobseeker_salary}}</span>
					</p>
				</div>

				<div class="user-details transition-2" style="padding: 0" fxFlexAlign="start">
					<!-- <h4 style="padding: 5px;">
						Break Details
					</h4> -->

					<!-- <p fxLayout="row" fxLayoutAlign="start center" *ngFor="let break of contractorJobDetails?.breaklist">
						<span class="key text-capitalize">{{break.break_name}} : </span>
						<span class="value">{{break.from}} to {{break.to}}</span>
					</p> -->

					<p fxLayout="row" fxLayoutAlign="start center" style="border: 1px solid #ccc;">
						<span class="key">Contract Status : </span>
						<span class="value">{{contractStatus[contractorJobDetails?.deleted] | titlecase}}</span>
					</p>
				</div>
			</mat-card>
		</div>
	</div>

	<!-- Timesheet List Details -->
	<div class="flex-p" fxLayout="row wrap" *ngIf="contractorJobDetails != ''">
		<app-timesheet-list-details [contractId]="contract_id" [contractDetails]="contractorJobDetails" fxFlex="100">
		</app-timesheet-list-details>
	</div>

	<!-- Roster Days -->
	<div class="flex-p" fxLayout="row wrap" *ngIf="contractorJobDetails?.work_days_type == '1'">
		<app-roster-off-days-manage [contractId]="contract_id" fxFlex="100" fxFlex.gt-sm="50">
		</app-roster-off-days-manage>
	</div>
</div>
